<ion-content *ngIf="!toggleCalendar" padding
  style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-refresher style="background: transparent" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tải lại nội dung..."
      refreshingSpinner="circles"
      refreshingText="Xin đợi trong giây lát...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-segment [(ngModel)]="toggle" color="danger" style="background:#fafde3; border-radius: 5px 5px 0 0;">
      <ion-segment-button *ngIf="global.checkPermission('dashboard_menu_app') || (global.checkPermission('pheduyet_menu_app'))" value="doneAssign">
        Đã phân công
      </ion-segment-button>
      <ion-segment-button *ngIf="global.checkPermission('dashboard_menu_app') || !global.checkPermission('pheduyet_menu_app')" value="waitingApproval">
        Đã xử lý
      </ion-segment-button>
      <ion-segment-button *ngIf="global.checkPermission('dashboard_menu_app') || global.checkPermission('pheduyet_menu_app')" value="doneApproval">
        Đã duyệt
      </ion-segment-button>
      <ion-segment-button *ngIf="!global.checkPermission('dashboard_menu_app') && global.checkPermission('pheduyet_menu_app')" value="doneAssignSupport">
        Đã phân công hỗ trợ
      </ion-segment-button>
      <ion-segment-button *ngIf="!global.checkPermission('dashboard_menu_app') && !global.checkPermission('pheduyet_menu_app')" value="doneSupport">
        Đã báo cáo hỗ trợ
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="global.checkPermission('dashboard_menu_app')">
    <ion-segment [(ngModel)]="toggle" color="danger" style="background:#fafde3;     border-radius:  0 0 5px 5px;    ">
      <ion-segment-button  value="assign">
        Phân công
      </ion-segment-button>
      <ion-segment-button  value="process">
        Xử lý
      </ion-segment-button>
      <ion-segment-button  value="approval">
        Phê duyệt
      </ion-segment-button>    
    </ion-segment>
  </div>


  <div>
    <div *ngIf="toggle == 'doneAssign' && (global.checkPermission('dashboard_menu_app') || (global.checkPermission('pheduyet_menu_app')))">
      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc đã phân công
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfDoneAssign.length}}</span>
            <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></ion-icon> -->
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfDoneAssign" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="toggle == 'waitingApproval' && (global.checkPermission('dashboard_menu_app') || !global.checkPermission('pheduyet_menu_app'))">

      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc đã xử lý
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfWaitingApproval.length}}</span>
            <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></!--> 
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfWaitingApproval" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="toggle == 'doneApproval' && (global.checkPermission('dashboard_menu_app') || global.checkPermission('pheduyet_menu_app'))">

      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc đã phê duyệt
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfDoneApproval.length}}</span>
            <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></ion-icon> -->
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfDoneApproval" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="toggle == 'doneAssignSupport' && (!global.checkPermission('dashboard_menu_app') && global.checkPermission('pheduyet_menu_app'))">

      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc đã phân công hỗ trợ
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfDoneAssignSupport.length}}</span>
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfDoneAssignSupport" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="toggle == 'doneSupport' && (!global.checkPermission('dashboard_menu_app') && !global.checkPermission('pheduyet_menu_app'))">

      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc đã báo cáo hỗ trợ
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfDoneSupport.length}}</span>
            <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></ion-icon> -->
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfDoneSupport" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="toggle == 'assign' && (global.checkPermission('dashboard_menu_app'))">

      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc cần phân công
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfAssign.length}}</span>
            <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></ion-icon> -->
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfAssign" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="toggle == 'process' && (global.checkPermission('dashboard_menu_app'))">

      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc chưa xử lý
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfProcess.length}}</span>
            <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></ion-icon> -->
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfProcess" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="toggle == 'approval' && (global.checkPermission('dashboard_menu_app'))">

      <ion-card style="    background: #fafde3 !important;    ">
        <ion-card-header color="primary" style="font-weight: bold">
          <ion-item style="border-radius: 15px;"> Sự việc cần phê duyệt
            <span item-end
              style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listOfApproval.length}}</span>
            <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></ion-icon> -->
          </ion-item>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item text-wrap *ngFor="let case of listOfApproval" (click)="goDetail(case)">
            <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
              (error)="global.updateImgUrl($event)" />
            <p style="color:#7e3d92;">{{case.areadetail}}</p>
            <p style="color:#c14f4f;">{{case.content}}</p>
            <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
            <p>Người báo: {{case.contact.name}}</p>
            <p style="color:#7e3d92;">{{case.statusName}}</p>
            <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    
  </div>
  
</ion-content>
<ion-content *ngIf="toggleCalendar" padding
  style="background-image: url('imgs/bg.png') !important;background-size:contain!important;background-position: bottom;background-repeat: no-repeat!important">
  <div style="width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;">
    <ion-grid style="height: 100%" no-padding>
      <ion-row justify-content-center align-items-center style="height: 100%;">
        <ion-card style="border-radius: 15px; position: relative;">
          <div style="height:5px; background: repeating-linear-gradient(
                90deg,
                #7183f7,
                #fa7777,
                #fff78d,
                #a1fad5
              );">
          </div>
          <button style="float: right; margin-top: 5px;
        margin-right: 3%;" id="adsModalCloseBtn" ion-button round small color="danger" (click)="closeCalendar()"
            icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-card-content>
            <ion-calendar #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar>
            <div>
              <p style="margin-left:3%"><span style="font-size:1.5em; color:#488aff">&#9632;</span> Ngày hôm nay <span
                  style="color: #46b592; font-size:1.5em">&#9632;</span> Ngày chọn</p>
            </div>
          </ion-card-content>

        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer
  style="margin-bottom:0 !important;background: linear-gradient(to right, rgb(127, 127, 213), #86a8e7, hsl(176, 67%, 74%));">

  <ion-slides (click)="backBtn()" text-center style="width:100%; height:100%" loop="false" slidesPerView="1">

    <ion-slide>
      <button clear icon-only ion-button>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back" style="color:blanchedalmond; font-size: 2.5em"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-footer>