<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons mode="ios" start>
      <button ion-button icon-only (click)="openMenu()">
        <img src="imgs/toggle.png" style="width: 30px;">
      </button>
    </ion-buttons>
    <ion-title mode="ios">{{global.languageContent.approval.header_title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showHideCalendarButton()">
        <ion-icon name="search" style="font-size: 2em"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding
  style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-refresher style="background: transparent" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tải lại nội dung..."
      refreshingSpinner="circles"
      refreshingText="Xin đợi trong giây lát...">
    </ion-refresher-content>
  </ion-refresher>  
  
  <div *ngIf="showCalendar" id="calendarDialog" style="width: 100%;
    height: 100%;
    top: 0;
    border: 0;">
    <ion-grid style="height: 100%" no-padding>
      <ion-row justify-content-center align-items-center style="height: 100%;">
        <ion-card style="border-radius: 15px; position: relative;">
          <div style="height:5px; background: repeating-linear-gradient(
                  90deg,
                  #7183f7,
                  #fa7777,
                  #fff78d,
                  #a1fad5
                );">
          </div>
          <button style="float: right; margin-top: 5px;
          margin-right: 3%;" id="adsModalCloseBtn" ion-button round small color="danger" (click)="closeCalendar()"
            icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-card-content>
            <ion-calendar #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar>
            <div>
              <p style="margin-left:3%"><span style="font-size:1.5em; color:#488aff">&#9632;</span> {{global.languageContent.approval.today}} <span
                  style="color: #46b592; font-size:1.5em">&#9632;</span> {{global.languageContent.approval.picked_date}}</p>
            </div>
          </ion-card-content>

        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card *ngIf="!showCalendar">
    <ion-card-header color="primary" style="font-weight: bold">
      <div style="padding:5px"> {{global.languageContent.approval.body_title}} <span
          style="float:right; height:100%; padding-left:5px; padding-right:5px;background:tomato; color:white; font-weight:bold">{{listOfWaitingTobeApproved.length}}</span>
      </div>
    </ion-card-header>

    <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
      <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
      <span style="margin-left:10px">{{global.languageContent.approval.date_action}}: {{pickdate}}</span>
    </button>

    <ion-list>
      <ion-item text-wrap *ngFor="let case of listOfWaitingTobeApproved" (click)="goToAssignConfirm(case)">
        <!-- <img *ngIf="case.attachment!=null && case.attachment.length > 0"
          style="width:15%;height:auto; margin-right:15px" item-start [src]="case.attachment[0]"
          (error)="global.updateImgUrl($event)" /> -->
        <p style="color:#7e3d92;">
          <ion-icon style="height:1em; width:auto" name="pin"></ion-icon> {{case.areadetail}}
        </p>
        <p style="color: #c14f4f">
          <ion-icon style="height:1em; width:auto" name="document"></ion-icon> {{case.content}}
        </p>
        <p>
          <ion-icon style="height:1em; width:auto" name="time"></ion-icon>
          {{this.global.dateDisplayFix(case.createdOn)}}
        </p>
        <p>{{global.languageContent.approval.reportFrom}}: {{case.contact.phoneNumber}} - {{case.contact.name}}</p>
        <p style="color:#7e3d92;">
          <ion-icon style="height:1em; width:auto" name="stats"></ion-icon> {{case.statusName}}
        </p>
        <p style="color:#c14f4f;">{{case.processComment}}</p>
        <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>