<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons mode="ios" start>
      <button style='color:#fff!important' ion-button icon-only (click)="openMenu()">
        <img src="imgs/toggle.png" style="width: 30px;margin-right: 2px;"> {{global.languageContent.login.header_title}}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content
  style="padding:0px;background-image: url('http://static.asiawebdirect.com/m/bangkok/portals/vietnam/homepage/ho-chi-minh-city/city-centre/pagePropertiesImage/ho-chi-minh-city-centre.jpg') !important;background-size:cover!important;background-position: top right;background-repeat: no-repeat!important">
  <ion-card style="margin-top: 15px;" *ngIf="!global.islogin">
    <!-- <ion-card-header id="headerImg" color="primary" style="font-weight: bold">
    <img src="imgs/footer-grey.gif"/>
    </ion-card-header> -->
    <img src="imgs/footer-grey.gif"/>


    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="username" placeholder="{{global.languageContent.login.username_placeholder}}"></ion-input>
    </ion-item>
      <ion-item *ngIf="usernameChecked">
        <ion-input type="password" [(ngModel)]="password" placeholder="{{global.languageContent.login.password_placeholder}}"></ion-input>
      </ion-item>

    </ion-list>
    <button style="background-color: tomato !important" id="loginBtn" *ngIf="usernameChecked" block ion-button  (click)="checkPassword()" class="btnDangNhap"><span>{{global.languageContent.login.login_btn}}</span></button>

   
  </ion-card>

  <ion-card style="margin-top: 15px;" *ngIf="global.islogin">
    <ion-card-header style="font-weight: bold">
      {{global.languageContent.login.subtitle}}
    </ion-card-header>
    <div class="thongtinuser">
      <div style="border:0px solid #fff!important;">

        <img src="imgs/usericon.png" style="width:120px!important;margin: auto!important" />
        <br />
        <p>{{global.languageContent.login.username}}: {{global.currentUserInfo.username}}</p>
        <p>{{global.languageContent.login.fullname}}: {{global.currentUserInfo.ho_ten}}</p>
        <p>{{global.languageContent.login.phonenumber}}: {{global.currentUserInfo.didong}} </p>
        <p>{{global.languageContent.login.mail}}: {{global.currentUserInfo.email}}</p>
        <!-- <p>{{global.languageContent.login.user_role}}: {{global.currentUserInfo.ten_vai_tro}}</p> -->
        <p>{{global.languageContent.login.department}}: {{global.currentUserInfo.ten_donvi}}</p>
      </div>

    </div>
    <br />
    <button style="margin: auto!important;" class="btnDangNhap1" id="logoutBtn" block ion-button (click)="logout()"
      color="danger">{{global.languageContent.login.logout_btn}}</button>
    <br />

  </ion-card>
</ion-content>