page-login {
    #headerImg.card-header-md {
        padding: 0px; 
    }
    .list,.list-ios{
        width: 95% !important;
        padding:5px!important;
        padding-right:20px!important;
         
    }
    #loginBtn.button-block-md {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 0 20px 0;
    }
    #logoutBtn.button-block-md {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 0 20px 0;
    }
    *
    {
        color:#fff!important;
    }
    .text-input-ios,.text-input {

        margin: 0px!important;
        padding: 0;
        width: calc(100% - 8px);
        padding-left:20px!important;
    
    }
    .btnDangNhap
    {

        background-color: rgba(0, 0, 0, 0.014)!important;
        width: 90%!important;
        margin: auto!important;
        border-radius: 20px!important;
        border:1px solid rgba(255, 255, 255, 0.075)!important;
        margin: 10px!important;
        
    }
    .btnkiemtra
    {

        background-color: transparent!important;
        border:1px solid rgba(255, 255, 255, 0.2)!important;
        margin: 0px!important;
        padding: 10px!important;
        position: absolute!important;
        right:0px!important;
        padding:20px!important;
        border-radius: 20px!important;
        background-color: rgb(0, 123, 172)!important;
    }
    .btnDangNhap:hover
    {

       
        border:1px solid rgb(4, 227, 243)!important;
    }
    .item
    {

        background-color: transparent!important;
        margin: 10px!important;
       
    }
    .thongtinuser .item-inner
    {

        border:0px solid #dadada!important;
    }
    .item-inner
    {
        border: 0px solid #fff!important;
    }

    .input-wrapper
    {
        border: 0px solid #fff!important;
    }
    .card
    {
        border-radius: 0px!important;
        border-bottom-right-radius: 0px!important;
        background-color:rgba(0, 0, 0, 0.7)!important;
    }
    .list-ios .item-block .item-inner {
        border: 1px solid #ffffff23!important;
        border-radius: 20px!important;
        margin: auto!important;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px solid #c8c7cc!important;
    }
    .thongtinuser
    {

        width: 80%!important;
        margin: auto!important;
    }
     .btnDangNhap1
    {
            background-color: rgb(230, 9, 9)!important;
            border-radius: 20px!important;
            width: 80%!important;
            margin: auto;
            
    }
  
    .list-md .item-input:last-child {

        border-bottom: 0px solid #dedede;
    
    }
    .item
    {
        border:1px solid rgba(255, 255, 255, 0.281)!important;
        border-radius: 23px!important;
        padding:0px;
    }
    .scroll-content
    {

        margin-top:50px!important;
    }
}
.btnDangNhap
{

    background-color: rgba(0, 0, 0, 0.014)!important;
    width: 80%!important;
    margin: auto!important;
    border-radius: 20px!important;
    border:1px solid rgba(255, 255, 255, 0.075)!important;
    
}

