<ion-header>
  <ion-navbar>
    <ion-item id="itemHeader" no-padding style="background: transparent">
      <ion-icon style="margin-right:8px" ios="ios-chatboxes" md="ios-chatboxes" color="light"></ion-icon><span style="color:white">Nhắn tin đến <span>{{dialNumber}}</span></span>
      <button (click)="goHistory()" ion-button item-end clear>  <ion-icon color="light" ios="md-time" md="md-time" style="font-size: 2.2em"></ion-icon>
      </button>
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content padding #content>
  <h4 style="margin-top:55%; padding:10%; text-align: center; color: rgb(148, 93, 72)" *ngIf="hasChat" id="output" text-wrap class="quotation">Kết nối thành công. Bạn có thể bắt đầu nhập tin
    nhắn.</h4>
  <div style="height:10%; left:100%; margin-bottom: 10px" *ngFor="let message of chats">
    <div [ngClass]="message.styleClass">
      <div class="message-detail" style="font-size: 1.25em; user-select: all">
        {{message.msgStr}}
      </div>
    </div>
  </div>

  <dialog id="savingModal" style="width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;">
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%;">
        <ion-card>
          <div style="height:5px; background: repeating-linear-gradient(
                90deg,
                #7183f7,
                #fa7777,
                #fff78d,
                #a1fad5
              );">
          </div>
          <ion-card-content>
            <ion-list>

              <ion-item id="voiceInputLabel" text-wrap>
                <h4 style="padding:3px; color:rgb(252, 194, 21)">Đang tiến hành lưu dữ liệu.</h4>
                <img item-start src="imgs/saving.gif" style="width:50px; height:auto" />
              </ion-item>                
            </ion-list>
          </ion-card-content>

        </ion-card>
      </ion-row>
    </ion-grid>
  </dialog>
</ion-content>
<ion-footer>
  <ion-item>
    <form></form>
    <ion-input type="text" [(ngModel)]="chat_input" placeholder="Nhập tin nhắn"></ion-input>
    <button clear ion-button (click)="send(chat_input)" item-right icon-only><ion-icon color="danger" name="md-send"></ion-icon></button>
  </ion-item>
</ion-footer>