page-chat-room {
    ion-content {
        background-image: linear-gradient(to right top, #25bfe0, #3fd2d0, #7be0b9, #b7eba4, #f4f09c);
    }
    .card-md {
      border-radius: 25px;
      margin-left: 10%;
      margin-right:10%
    }
    .quotation:before {
      color: #ea653c;
      content: open-quote;
      font-size: 2em;
      line-height: 0.1em;
      margin-right: 0.1em;
      vertical-align: -0.4em;;
  }
  .quotation:after {
      color: #ea653c;
      content: close-quote;
      font-size: 2em;
      line-height: 0.1em;
      margin-left: 0.1em;
      vertical-align: -0.4em;;
  }
    .toolbar-background {
        color:white;
        // background: #f53d3d;
        background-image: linear-gradient(to right, #d5351c, #e05f24, #e98234, #f1a14a, #f9bf66);
              }
    .toolbar-title {
        // color: rgb(252, 240, 217);
        color:white
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #f7f0f0;
        background-color: transparent;
    }
 
      .chat-message {
        border-radius: 5px;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;
        max-width: 80%;
      }
      .chat-message:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: -7.5px;
      }
      .chat-message.right { 
        background-color: #435da7;
        color: #fff;
        float: right;
      }
      .chat-message.right:before {
        background-color: #435da7;
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
        transform: rotate(118deg) skew(-5deg);
      }
      .chat-message.left {
        background-color: white;
        float: left;
      }
      .chat-message.left:before {
        background-color:white;
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
        transform: rotate(70deg) skew(5deg);
      }
      .back-button-text {
        display: none;    
      }
      .button-inner {
        color:whitesmoke
      }
      #itemHeader > div {
        border-bottom: 0px
    }
}
