<ion-content style="background-color:transparent">
  <ion-grid style="height: 100%">

    <ion-row justify-content-center align-items-center style="height: 50%; margin-top:35%">
      <ion-card>
        <div style="height:5px; background: repeating-linear-gradient(
          90deg,
          #7183f7,
          #fa7777,
          #fff78d,
          #a1fad5
        );">
        </div>
        <ion-card-content>
          <ion-list>

            <ion-item>
              <h4 style="color:rgb(252, 194, 21)"> Gửi tin nhắn đến {{dialNumber}}</h4>
            </ion-item>
            <ion-item>

              <ion-textarea placeholder="Nội dung tin nhắn" [(ngModel)]="smsContent"></ion-textarea>

            </ion-item>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <button (click)="closeSMS()" ion-button full color="danger">Hủy
                    <ion-icon style="margin-left:8px" ios="ios-close-circle" md="ios-close"></ion-icon>
                  </button>
                </ion-col>
                <ion-col>
                  <button (click)="sendSMS()" ion-button full color="success">Gửi
                    <ion-icon style="margin-left:8px" ios="ios-send" md="ios-send"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-list>


        </ion-card-content>

      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>