<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons mode="ios" start>
      <button ion-button icon-only (click)="openMenu()">
        <img src="imgs/toggle.png" style="width: 30px;">
      </button>
    </ion-buttons>
    <ion-title mode="ios">{{global.languageContent.assign.header_title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showHideCalendarButton()">
        <ion-icon name="search" style="font-size: 2em"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding
  style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-refresher style="background: transparent" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tải lại nội dung..." refreshingSpinner="circles"
      refreshingText="Xin đợi trong giây lát...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="showCalendar" id="calendarDialog" style="width: 100%;
  height: 100%;
  top: 0;  border: 0;">
    <ion-grid style="height: 100%" no-padding>
      <ion-row justify-content-center align-items-center style="height: 100%;">
        <ion-card style="border-radius: 15px; position: relative;">
          <div style="height:5px; background: repeating-linear-gradient(
                90deg,
                #7183f7,
                #fa7777,
                #fff78d,
                #a1fad5
              );">
          </div>
          <button style="float: right; margin-top: 5px;
        margin-right: 3%;" id="adsModalCloseBtn" ion-button round small color="danger" (click)="closeCalendar()"
            icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-card-content>
            <ion-calendar #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar>
            <div>
              <p style="margin-left:3%"><span style="font-size:1.5em; color:#488aff">&#9632;</span>
                {{global.languageContent.assign.today}}<span style="color: #46b592; font-size:1.5em">&#9632;</span>
                {{global.languageContent.assign.picked_date}}</p>
            </div>
          </ion-card-content>

        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card *ngIf="!showCalendar">
    <ion-segment [(ngModel)]="toggle" color="danger" style="background:#253044; border-radius: 5px 5px 0 0;">
      <ion-segment-button
        value="slide1" (click)="changeTab('slide1')">
        Xử lý
        <div *ngIf="toggle=='slide1'" class="numberCircle">{{listOfUnassignedCases.length}}</div>
      </ion-segment-button>
      <ion-segment-button
        value="slide2" (click)="changeTab('slide2')">
        Hỗ trợ
        <div *ngIf="toggle=='slide2'"  class="numberCircle">{{listOfUnassingedSupportCases.length}}</div>
      </ion-segment-button>
    </ion-segment>
    <ion-slides #mySlider (ionSlideDidChange)="slideChanged()" style="width:100%" slidesPerView="1" pager="true"
      paginationType="fraction">
      <ion-slide [style.height]="listOfUnassignedCases.length!=0 ? '100%' : '80vh'">
        <ion-card-header [style.position]="listOfUnassignedCases.length!=0 ? 'relative' : 'fixed'"
          [style.top]="listOfUnassignedCases.length!=0 ? 'auto' : '0'" color="primary"
          style="font-weight: bold; top:0; position:fixed; width:100%">
          <div style="padding:5px"> {{global.languageContent.assign.body_title1}}
             <!-- <span style="float:right; height:100%; padding-left:5px; padding-right:5px;background:tomato; color:white; font-weight:bold">{{listOfUnassignedCases.length}}</span> -->
          </div>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">{{global.languageContent.assign.date_action}}: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item *ngFor="let case of listOfUnassignedCases" (click)="goToAssignConfirm(case,'xuly')">
            <!-- <img *ngIf="case.attachment!=null && case.attachment.length > 0"
              style="width:15%;height:auto; margin-right:15px" item-start [src]="case.attachment[0]"
              (error)="global.updateImgUrl($event)" /> -->
            <p style="color:#7e3d92;">
              <ion-icon style="height:1em; width:auto" name="pin"></ion-icon> {{case.areadetail}}
            </p>
            <p style="color: #c14f4f">
              <ion-icon style="height:1em; width:auto" name="document"></ion-icon> {{case.content}}
            </p>
            <p>
              <ion-icon style="height:1em; width:auto" name="time"></ion-icon>
              {{this.global.dateDisplayFix(case.createdOn)}}
            </p>
            <p>{{global.languageContent.assign.reportFrom}}: {{case.contact.phoneNumber}} - {{case.contact.name}}</p>
            <p style="color:#7e3d92;">
              <ion-icon style="height:1em; width:auto" name="stats"></ion-icon> {{case.statusName}}
            </p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>

        <div style="width:100%;height:100%" *ngIf="listOfUnassignedCases.length==0">
          <ion-item>
            <p class="noMessage">{{global.languageContent.assign.no_message}}</p>
          </ion-item>
        </div>
        <div #nothingToShow style="width: 100%;height:20px;"></div>
      </ion-slide>

      <ion-slide [style.height]="listOfUnassingedSupportCases.length!=0 ? '100%' : '80vh'">
        <ion-card-header [style.position]="listOfUnassingedSupportCases.length!=0 ? 'relative' : 'fixed'"
          [style.top]="listOfUnassingedSupportCases.length!=0 ? 'auto' : '0'" color="primary"
          style="font-weight: bold; top:0; position:fixed; width:100%">
          <div style="padding:5px"> {{global.languageContent.assign.body_title2}}
            <!-- <span style="float:right; height:100%; padding-left:5px; padding-right:5px;background:tomato; color:white; font-weight:bold">{{listOfUnassingedSupportCases.length}}</span> -->
          </div>
        </ion-card-header>

        <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
          <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
          <span style="margin-left:10px">{{global.languageContent.assign.date_action}}: {{pickdate}}</span>
        </button>

        <ion-list>
          <ion-item *ngFor="let case of listOfUnassingedSupportCases" (click)="goToAssignConfirm(case, 'hotro')">
            <!-- <img *ngIf="case.attachment!=null && case.attachment.length > 0"
                style="width:15%;height:auto; margin-right:15px" item-start [src]="case.attachment[0]"
                (error)="global.updateImgUrl($event)" /> -->
            <p style="color:#7e3d92;">
              <ion-icon style="height:1em; width:auto" name="pin"></ion-icon> {{case.areadetail}}
            </p>
            <p style="color: #c14f4f">
              <ion-icon style="height:1em; width:auto" name="document"></ion-icon> {{case.content}}
            </p>
            <p>
              <ion-icon style="height:1em; width:auto" name="time"></ion-icon>
              {{this.global.dateDisplayFix(case.createdOn)}}
            </p>
            <p>{{global.languageContent.assign.reportFrom}}: {{case.contact.phoneNumber}} - {{case.contact.name}}</p>
            <p style="color:#7e3d92;">
              <ion-icon style="height:1em; width:auto" name="stats"></ion-icon> {{case.statusName}}
            </p>
            <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
        <div style="width:100%;height:100%" *ngIf="listOfUnassingedSupportCases.length==0">
          <ion-item>
            <p class="noMessage">{{global.languageContent.assign.no_message}}</p>
          </ion-item>
        </div>

        <div #nothingToShow style="width: 100%;height:20px;"></div>

      </ion-slide>
    </ion-slides>


  </ion-card>

</ion-content>