
<ion-content padding
  style="background-image: url('imgs/bg.png') !important;background-size:contain!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-card *ngIf="case != null" style="    background: #fafde3 !important;    ">
    <ion-card-header color="primary" style="font-weight: bold; border-bottom: solid">
      Thông tin sự việc
      <ion-item text-wrap style="padding-left:0 !important">
        <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.loai_tin_bao"
          (error)="global.updateImgUrl($event)" />
        <p style="color:#7e3d92;">
          <ion-icon style="height:1em; width:auto" name="pin"></ion-icon> {{case.dia_diem_diachi}},
          {{case.dia_diem_phuong}}, {{case.dia_diem_quan}}
        </p>
        <p style="color: #c14f4f">
          <ion-icon style="height:1em; width:auto" name="document"></ion-icon> {{case.noi_dung}}
        </p>
        <p>
          <ion-icon style="height:1em; width:auto" name="time"></ion-icon>
          {{this.global.dateDisplayFix(case.ngay_phat_sinh)}}
        </p>
        <p>Người báo: {{case.nguoi_bao_sdt}}</p>
      </ion-item>
      Thông tin xử lý
      <ion-item text-wrap>
        <ul style="color:black; padding-inline-start: 10%;">
          <li *ngIf="case.trang_thai" style="color:#7e3d92;">
            Tình trạng: {{case.trang_thai}}
          </li>
          <li *ngIf="case.hienthi_xuly" style="color: red"> {{case.hoan_tat_hoten}} -
            <i>{{case.hoan_tat_thoidiem| date:'HH:mm dd/MM/yyyy'}}</i></li>
          <li *ngIf="case.hienthi_xuly" style="color: red"> {{case.hoan_tat_hoten}} - <i>Thông tin phản hồi:
              {{case.hoan_tat_ghichu}}</i></li>
          <li *ngIf="case.nguoi_dung_phancong_xl!=''">Người phân công xử lý: {{case.nguoi_dung_phancong_xl}}</li>
          <li *ngIf="case.phancong_thoidiem_xl!=''">Thời điểm phân xử lý:
            {{this.global.dateDisplayFix(case.phancong_thoidiem_xl)}}</li>
          <li *ngIf="case.nguoi_dung_xl!=''">Chuyên viên xử lý: {{case.nguoi_dung_xl}}</li>
          <li *ngIf="case.xuly_thoidiem_xl!=''">Thời điểm xử lý: {{this.global.dateDisplayFix(case.xuly_thoidiem_xl)}}
          </li>
          <li *ngIf="case.donvi_ht_ten!=''">Đơn vị hỗ trợ: {{case.donvi_ht_ten}}</li>
          <li *ngIf="case.nguoi_dung_phancong_ht!=''">Người phân công hỗ trợ: {{case.nguoi_dung_phancong_ht}}</li>
          <li *ngIf="case.phancong_thoidiem_ht!=''">Thời điểm phân hỗ trợ:
            {{this.global.dateDisplayFix(case.phancong_thoidiem_ht)}}</li>
          <li *ngIf="case.nguoi_dung_ht!=''">Chuyên viên hỗ trợ: {{case.nguoi_dung_ht}}</li>
          <li *ngIf="case.xuly_thoidiem_ht!=''">Thời điểm hỗ trợ: {{this.global.dateDisplayFix(case.xuly_thoidiem_ht)}}
          </li>
        </ul>
      </ion-item>
    </ion-card-header>

    <button ion-item (click)="goMap()" style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="map" item-start></ion-icon>
      <span style="color:rgb(93, 92, 92) !important; font-weight:600">Xem vị trí sự việc</span>
    </button>

    <ion-card-header *ngIf="imglist.length > 0" color="primary" style="font-weight: bold">
      Hình ảnh sự việc
    </ion-card-header>

    <div *ngIf="imglist.length > 0" id="scrolly" style="margin-left:5%">
      <img *ngFor="let pic of imglist; let i = index" style="height:50px; width:auto" [id]="i" [src]="pic"
        (click)="openImgZoom(i)" />
    </div>


    <ion-card-header color="primary" style="font-weight: bold"
      *ngIf="case.hinhanh_xuly!=null && case.hinhanh_xuly.length > 0">
      Hình ảnh xử lý
    </ion-card-header>

    <div *ngIf="case.hinhanh_xuly!=null && case.hinhanh_xuly.length > 0" id="scrolly">
      <img *ngFor="let picc of case.hinhanh_xuly; let a = index" style="height:50px; width:auto" [id]="a"
        [src]="picc.src" (click)="openImgProcessZoom(a)" />
    </div>

    <ion-card-header *ngIf="videoList.length > 0" color="primary" style="font-weight: bold">
      Video sự việc
    </ion-card-header>

    <div *ngIf="videoList.length > 0">
      <ion-item *ngFor="let video of videoList; let i = index">
        <video style="width:100%; max-height:350px" controls="controls" preload="metadata"
          webkit-playsinline="webkit-playsinline" class="videoPlayer" [src]="video"></video>
      </ion-item>
    </div>

    <div style="height: 10px;width:100%"></div>
  </ion-card>
</ion-content>

<ion-content *ngIf="toggleCalendar" padding
  style="background-image: url('imgs/bg.png') !important;background-size:contain!important;background-position: bottom;background-repeat: no-repeat!important">
  <div style="width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;">
    <ion-grid style="height: 100%" no-padding>
      <ion-row justify-content-center align-items-center style="height: 100%;">
        <ion-card style="border-radius: 15px; position: relative;">
          <div style="height:5px; background: repeating-linear-gradient(
                90deg,
                #7183f7,
                #fa7777,
                #fff78d,
                #a1fad5
              );">
          </div>
          <button style="float: right; margin-top: 5px;
        margin-right: 3%;" id="adsModalCloseBtn" ion-button round small color="danger" (click)="closeCalendar()"
            icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-card-content>
            <ion-calendar #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar>
            <div>
              <p style="margin-left:3%"><span style="font-size:1.5em; color:#488aff">&#9632;</span> Ngày hôm nay <span
                  style="color: #46b592; font-size:1.5em">&#9632;</span> Ngày chọn</p>
            </div>
          </ion-card-content>

        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer
  style="margin-bottom:0 !important;background: linear-gradient(to right, rgb(127, 127, 213), #86a8e7, hsl(176, 67%, 74%));">

  <ion-slides (click)="backBtn()" text-center style="width:100%; height:100%" loop="false" slidesPerView="1">

    <ion-slide>
      <button clear icon-only ion-button>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back" style="color:blanchedalmond; font-size: 2.5em"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-footer>