<ion-content no-padding>
  <div hidden style="width:100%; height: 40%; position:relative">
    <div #map id="map" style="width:100%; height: 100%"></div>
  </div>

  <div style="height:20px; width:100%; background:white"></div>

<ng-container *ngIf="pieChart1.dataTable.length!=0">
  <google-chart  style="width: 100%;" [data]="pieChart1"   
  (chartSelect)='onPieSelect($event)' (chartReady)='pie1Ready($event)' (chartError)='pie1Error($event)'></google-chart>
  
  <!-- <google-chart hidden style="width: 100%;" [data]="pieChart2" (chartSelect)='onPieSelect($event)'></google-chart> -->
</ng-container>
  <ng-container *ngIf="pieChart1.dataTable.length==0"><ion-item style="background: transparent !important;" text-center>
    "Hiện không tìm thấy dữ liệu..."</ion-item>
    <img id="reloadRotate" (click)="ionViewDidEnter()" style="margin-left: 40%;
    width: 15%;" src="imgs/refreshDashboard.png" />
    <div style="height:15px; width:100%; background:white"></div>  
</ng-container>

  <ion-grid text-center style="background: tomato; color: antiquewhite">
    <ion-row>
      <ion-col>
        <h6>Đang xem: {{currentPickName}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label style="color: white!important">Thời gian:</ion-label>
          <ion-select okText="Chọn" cancelText="Bỏ qua" [(ngModel)]="timeSelect" (ionChange)="onTimeChange()">
            <ion-option value="day">Trong ngày</ion-option>
            <ion-option value="week">Trong tuần</ion-option>
            <ion-option value="month">Trong tháng</ion-option>
            <ion-option value="year">Trong năm</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid  *ngIf="masterData!null" style="background:white">
    <ion-row>
      <ion-col text-center>
        <div style="width:100%; border-bottom: 1px solid tomato"  [id]="masterData.areaCode">
          <h4 (click)="onAreaChange(global.currentUserInfo.area.name, masterData.areaCode)">{{global.currentUserInfo.area.name}}</h4>
          <p>.Tổng tin báo: {{masterData.sum}}  <span style="margin-left:8%" (click)="goList(masterData.areaCode,'processed')">.Đã xử lý: {{masterData.processed}} ({{displayPercentage(masterData.sum,masterData.processed)}}%)</span></p>
          <p (click)="goList(masterData.areaCode,'processing')">.Chưa xử lý: {{masterData.processing}} ({{displayPercentage(masterData.sum,masterData.processing)}}%)</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div [id]="city.areaCode" style="width:50%; display: inline-block; padding-left: 8%;" *ngFor="let city of masterData.children; let i=index">
            <h4 (click)="onAreaChange(city.areaName, city.areaCode)">{{city.areaName}}</h4>
          <p>Tổng tin báo: {{city.sum}}</p>
          <p (click)="goList(city.areaCode,'processed')">Đã xử lý: {{city.processed}} ({{displayPercentage(city.sum,city.processed)}}%)</p>
          <p (click)="goList(city.areaCode,'processing')">Chưa xử lý: {{city.processing}} ({{displayPercentage(city.sum,city.processing)}}%)</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  
 
</ion-content>

<ion-footer
  style="background: linear-gradient(to right, rgb(127, 127, 213), #86a8e7, hsl(176, 67%, 74%)); margin-bottom:0 !important">

  <ion-slides (click)="backBtn()" text-center style="width:100%; height:100%" loop="false" slidesPerView="1">

    <ion-slide>
      <button clear icon-only ion-button>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back" style="color:blanchedalmond; font-size: 2.5em"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-footer>