page-dashboard {
    .swiper-pagination-progress .swiper-pagination-progressbar {
        background: #fdf379;
    }
    ion-label {
        color: tomato;
        font-size: 1.8rem;
        font-weight: 420;
        padding-bottom:10px
    }
    .reloadRotate {
        animation: rotation 2s infinite linear;
      }
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
}
