page-assignconfirm {
    // ion-label > ion-select { color:black}
*
{
    color:#fff!important;
}
.select-text
{
    display:none;
}
.item, .item-ios
{
    background-color: transparent!important;
}
    .homeavatar{
        border-radius: 0;
    }
    #scrolly{
      width: 100%;
      height: 50px;
      overflow: auto;
      overflow-y: hidden;
      margin: 0 auto;
      white-space: nowrap;
      padding-left: 15px;
    //   border: 1px solid #488aff;
    //   border-top:0; border-bottom:0;
  }

  #scrolly img{
      // margin-bo: 10px;
      display: inline;
  }
  .card
  {

    border-radius: 20px!important;
  }
  textarea
  {

    background-color: transparent!important;
    border:1px solid rgba(255, 255, 255, 0.219)!important;
    border-radius: 20px!important;
    padding:10px!important;
    margin-top:10px;
    margin-bottom: 10px;
  }
  
}
.fixTxt > .item-inner > .input-wrapper > .label-md {
    margin:0px;
}
.noPad.button-block-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 20px 0;
}
.footer button
{

    width: 98%!important;
    margin: auto;
    border-radius: 20px!important;
    margin-top:4px!important;
   
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px solid #c8c7cc!important;
}
.back-button-text-ios {
    letter-spacing: -.01em;
    display: none!important;
}
*
{

    border-bottom: 0px solid #dadada;
}