
<ion-header [hidden]="dialogForImgPicking">
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding
  style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-card *ngIf="case != null && this.fromPage == 'assign'">
    <ion-card-header color="primary" style="font-weight: bold; border-bottom:0px solid">
      {{global.languageContent.assign_confirm.title1}}
      <ion-item style="padding-left:0 !important" text-wrap>
           <p style="color:#7e3d92;">
          {{case.areadetail}}
        </p>
        <p style="color:tomato;">{{case.content}}</p>
        <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
        <p style="color:#7e3d92;">{{global.languageContent.assign_confirm.report_from}}: {{ case.contact.phoneNumber }} - {{case.contact.name}}</p>
        <p>{{ case.statusName }}</p>
        <p *ngIf="case.resolvedComment!=null"><span style="color: tomato">{{global.languageContent.assign_confirm.note}}: </span>{{case.resolvedComment}}</p>
      </ion-item>
    </ion-card-header>

    <ion-card-header color="primary" style="font-weight: bold">
      {{global.languageContent.assign_confirm.img_title}}
    </ion-card-header>    

    <ng-container *ngIf="case.attachment!=null">
      <div *ngIf="case.attachment.length > 0" id="scrolly">
        <img *ngFor="let pic of case.attachment; let i = index" style="height:50px; width:auto; margin-right:5px" [id]="i"
          [src]="global.baseURLForIcon + pic.filePath" (click)="openImgZoom(i)" />
      </div>
    </ng-container>      
    <ion-card-header *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" color="primary"
      style="font-weight: bold">
      {{global.languageContent.approve_confirm.process_img_title}}
    </ion-card-header>

    <div *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" id="scrolly">
      <img *ngFor="let picc of case.resolveAttachment; let a = index" style="height:50px; width:auto; margin-right: 5px" [id]="a"
        [src]="global.baseURLForIcon + picc.filePath" (click)="openImgProcessZoom(a)" />
    </div>
    <ng-container *ngIf="case.videoAttachment!=null" style="margin-top:10px;">
      <div *ngIf="case.videoAttachment.length > 0" id="scrolly" style="height:180px;">
        <video controls="controls" preload="metadata"
        webkit-playsinline="webkit-playsinline" class="videoPlayer" *ngFor="let video of case.videoAttachment; let i = index"
        style="max-height:180px; width:100%" [id]="i"
        [src]="global.baseURLForIcon + video.filePath"> </video>
      </div>
    </ng-container>   

    <div style="width:100%; height:10px; padding-top: 15px;
    "></div>

    <dialog id="imageViewer" style="
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    width: 100%;
        height: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;">
      <ion-grid style="height: 100%" no-padding>
        <ion-row justify-content-center align-items-center style="height: 100%;">
          <img src="{{ imgInsideViewer }}" style="max-height: 80%; max-width:100%; margin-top:20%" />
        </ion-row>
      </ion-grid>
      <div style="height:10px; width:10px; top: 5px;
      position:fixed; background: transparent; padding:5px" (click)="closeImgZoom()">
        <button (click)="closeImgZoom()" id="imgZoom" ion-button round small
          style="border: solid 2px white; background: transparent">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </dialog>
    <ion-card-header color="primary" style="font-weight: bold">
      {{global.languageContent.assign_confirm.title2}}
    </ion-card-header>

    <table style="width:100%" class="inputs_table" *ngIf="case.status==11">
      <tbody>
        <tr style="width:100%">
          <td style="width: 100%;
          text-align: center;">
            <label for="one">{{global.languageContent.assign_confirm.employee}}</label>
            <input style="margin-right:15px" type="radio" value="cv" name="assignTarget" [(ngModel)]="assignTarget"
              required>
            <label for="two">{{global.languageContent.assign_confirm.department}}</label>
            <input type="radio" value="pb" name="assignTarget" [(ngModel)]="assignTarget" required />
          </td>
        </tr>
      </tbody>
    </table>

    <ion-list *ngIf="(case.status == 11 || case.status == 12 || (case.status == 13 && case.statusSupport == 21))  && assignTarget =='cv'">

      <ion-item>
        <ion-label>{{global.languageContent.assign_confirm.title3}}</ion-label>
        <ion-select *ngIf="employeeList != null && listOfPickedEmployee.length==0" [(ngModel)]="pickedEmployee"
          (ionChange)="onSelectEmployeeChange($event)">
          <ion-option *ngFor="let employee of employeeList" value="{{ employee.fullname }}">{{ employee.fullname }}
          </ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-card-header color="primary" style="font-weight: bold" *ngIf="listOfPickedEmployee.length > 0">
      + {{global.languageContent.assign_confirm.employee_list}}
    </ion-card-header>
    <ion-list *ngIf="assignTarget =='cv'">
      <ion-item *ngFor="let person of listOfPickedEmployee">
        <ion-avatar item-start>
          <img src="http://www.haverhill-ps.org/wp-content/uploads/sites/12/2013/11/user.png" />
        </ion-avatar>
        {{ person }}
        <button *ngIf="!checkIfPickOldProcessEmployeeAgain(person)" ion-button small item-end icon-only
          (click)="removePickedEmployee(person)">
          <ion-icon name="md-remove"></ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="case.olderSupports == null && assignTarget =='pb' && case.status!=12">
      <ion-item>
        <ion-label>{{global.languageContent.assign_confirm.title4}}</ion-label>
        <ion-select *ngIf="deparmentList != null && listOfPickedAssignedDepartment.length==0" [(ngModel)]="pickedAssignedDepartment"
          (ionChange)="onSelectAssignedDeparmentChange($event)">
          <ng-container *ngFor="let deparment of deparmentList">
            <ion-option *ngIf="deparment.type=='Department'" value="{{ deparment.name }}">{{ deparment.name }}
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-card-header color="primary" style="font-weight: bold"
      *ngIf="assignTarget =='pb' && listOfPickedAssignedDepartment.length > 0">
      + {{global.languageContent.assign_confirm.department_list}}
    </ion-card-header>
    <ion-list *ngIf="assignTarget =='pb'">
      <ion-item *ngFor="let department of listOfPickedAssignedDepartment">
        <ion-avatar item-start>
          <img class="homeavatar" src="http://www.stickpng.com/assets/images/588a6758d06f6719692a2d22.png" />
        </ion-avatar>
        {{ department }}
        <button *ngIf="!checkIfPickOldProcessEmployeeAgain(department)" ion-button small item-end icon-only
          (click)="removePickedAssignedDepartment(department)">
          <ion-icon name="md-remove"></ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>{{global.languageContent.assign_confirm.title5}} <span style="color:red">*</span></ion-label>
    </ion-item>

    <ion-item class="fixTxt">
      <textarea [(ngModel)]="assignComment" rows="3" placeholder="..." style="width: 100%;
      border: none;"></textarea>
    </ion-item>

    <ion-card-header color="primary" style="font-weight: bold" *ngIf="assignTarget =='cv' && case.status!=12 && case.status!=13">
      {{global.languageContent.assign_confirm.title6}}
    </ion-card-header>

    <ion-list *ngIf="assignTarget =='cv' && case.status!=12 && case.status!=13">
      <ion-item>
        <ion-label>{{global.languageContent.assign_confirm.title7}} </ion-label>
        <ion-select *ngIf="listOfSupportDepartment != null && listOfPickedDepartment.length==0" [(ngModel)]="pickedDepartment"
          (ionChange)="onSelectDepartmentChange($event)">
          <ng-container *ngFor="let department of listOfSupportDepartment">
            <ion-option *ngIf="checkDepartShowUp(department.id)" value="{{ department.name }}">
              {{ department.name }}</ion-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="assignTarget =='cv' && case.status!=12">
        <ion-label>{{global.languageContent.assign_confirm.support_content}} <span style="color:red">*</span></ion-label>
      </ion-item>
      <ion-item class="fixTxt">
        <textarea [(ngModel)]="supportComment" rows="3" placeholder="Nhập ghi chú..." style="width: 100%;
        border: none;"></textarea>
      </ion-item>
    </ion-list>

    <ion-card-header color="primary" style="font-weight: bold"
      *ngIf="assignTarget =='cv' && listOfPickedDepartment.length > 0 && case.status!=12">
      + {{global.languageContent.assign_confirm.support_list}}:
    </ion-card-header>
    <ion-list *ngIf="assignTarget =='cv'">
      <ion-item *ngFor="let department of listOfPickedDepartment">
        <ion-avatar item-start>
          <img class="homeavatar" src="http://www.stickpng.com/assets/images/588a6758d06f6719692a2d22.png" />
        </ion-avatar>
        {{ department }}
        <button *ngIf="!checkIfPickOldSupportDepartmentAgain(department)" ion-button small item-end icon-only
          (click)="removePickedDepartment(department)">
          <ion-icon name="md-remove"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Xử Lý -->

  <ion-card *ngIf="case != null && this.fromPage == 'process'">
    <ion-card-header color="primary" style="font-weight: bold; border-bottom:0px solid">
      {{global.languageContent.process_confirm.title1}}
      <ion-item style="padding-left:0 !important" text-wrap>
        
          <!-- <ng-container *ngIf="case.attachment!=null">
            <img *ngIf="case.attachment.length > 0"
            style="width:15%;height:auto; margin-right:15px" item-start [src]="global.baseURLForIcon + case.attachment[0]"
            (error)="global.updateImgUrl($event)" /></ng-container> -->
        <p style="color:#7e3d92;">
          {{case.areadetail}}
        </p>
        <p style="color:tomato;">{{case.content}}</p>
        <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
        <p style="color:#7e3d92;">{{global.languageContent.process_confirm.report_from}}: {{ case.contact.phoneNumber }} - {{case.contact.name}}</p>
        <p><b>{{global.languageContent.process_confirm.status}}: </b>{{ case.statusName }}</p>
        <!-- <p *ngIf="case.resolvedComment!=null"><span style="color: tomato">Ghi chú: </span>{{case.resolvedComment}}</p> -->
        <ion-item text-wrap style="padding-left:0">
          <small><b>{{global.languageContent.process_confirm.assigned_content}}: </b></small>
          <p>{{ case.resolvedComment }}</p>
        </ion-item>
      </ion-item>
    </ion-card-header>

    <ion-card-header color="primary" style="font-weight: bold">
      {{global.languageContent.process_confirm.img_title}}
    </ion-card-header>

    

    <ng-container *ngIf="case.attachment!=null">
      <div *ngIf="case.attachment.length > 0" id="scrolly">
        <img *ngFor="let pic of case.attachment; let i = index" style="height:50px; margin-right:5px; width:auto" [id]="i"
          [src]="global.baseURLForIcon + pic.filePath" (click)="openImgZoom(i)" />
      </div>
    
    </ng-container>
    <ion-card-header *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" color="primary"
      style="font-weight: bold">
      {{global.languageContent.approve_confirm.process_img_title}}
    </ion-card-header>

    <div *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" id="scrolly">
      <img *ngFor="let picc of case.resolveAttachment; let a = index" style="height:50px; width:auto; margin-right: 5px" [id]="a"
        [src]="global.baseURLForIcon + picc.filePath" (click)="openImgProcessZoom(a)" />
    </div>
    <ng-container *ngIf="case.videoAttachment!=null" style="margin-top:10px">
      <div *ngIf="case.videoAttachment.length > 0" id="scrolly" style="height:180px;">
        <video controls="controls" preload="metadata"
        webkit-playsinline="webkit-playsinline" class="videoPlayer" *ngFor="let video of case.videoAttachment; let i = index"
        style="max-height:180px; width:100%" [id]="i"
        [src]="global.baseURLForIcon + video.filePath"> </video>
      </div>
    </ng-container>  

    <div style="width:100%; height:10px; border-bottom:solid #488aff; padding-top: 15px;
    "></div>
    <button ion-item (click)="goMap()" style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="map" item-start></ion-icon>
      {{global.languageContent.process_confirm.location}}
      <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
    </button>
    <button ion-item (click)="testTimeline()"
      style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="time" item-start></ion-icon>
      {{global.languageContent.process_confirm.timeline}}
      <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
    </button>
    <dialog id="imageViewer" style="
      background-color: rgba(0, 0, 0, 0.7);
      border: 0;
      width: 100%;
          height: 100%;
          min-height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10000;">
      <ion-grid style="height: 100%" no-padding>
        <ion-row *ngIf="!dialogForImgPicking" justify-content-center align-items-center style="height: 100%;">
          <img src="{{ imgInsideViewer }}" style="max-height: 80%; max-width:100%; margin-top:20%" />
        </ion-row>

        <ion-row justify-content-center align-items-center style="height: 100%;" *ngIf="dialogForImgPicking">
          <div style="width:100%; height:auto; padding: 5px; background: white">
            <ion-segment [(ngModel)]="toggle" color="danger">
              <ion-segment-button value="picture">
                Hình ảnh
              </ion-segment-button>
            </ion-segment>

            <div>
              <div *ngIf="toggle == 'picture'">
                <ion-grid>
                  <ion-row style="margin-bottom:15px">
                    <ion-col>
                      <button ion-button block color="primary" (click)="takePhoto()">
                        <ion-icon large name="camera"> Chụp ảnh</ion-icon>
                      </button>
                    </ion-col>
                    <ion-col>
                      <button ion-button block color="secondary" (click)="localImagePicker()">
                        <ion-icon large name="folder-open"> Từ bộ nhớ</ion-icon>

                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <p style="margin-left:5px" *ngIf="!listHasElements">
                  (*) Bạn hiện chưa chọn tấm ảnh nào.
                </p>

                <ion-list *ngIf="listHasElements">
                  <ion-item-sliding *ngFor="let pic of imageURL" style=" margin-bottom:10px">
                    <ion-item style="max-width: 100%; max-height:100px;">
                      <img [id]="pic" [src]="pic" />
                    </ion-item>

                    <ion-item-options side="right">
                      <button ion-button color="danger" (click)="delPic(pic)">
                        <ion-icon name="trash"></ion-icon>
                        Hủy
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
                </ion-list>
              </div>
            </div>
          </div>
        </ion-row>
      </ion-grid>
      <div style="height:10px; width:10px; top: 5px;
        position:fixed; background: transparent; padding:5px" (click)="closeImgZoom()">
        <button (click)="closeImgZoom()" id="imgZoom" ion-button round small
          style="border: solid 2px white; background: transparent">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </dialog>
    <ion-card-header *ngIf="showIfNotSupportType" color="primary" style="font-weight: bold">
      {{global.languageContent.process_confirm.title2}}
    </ion-card-header>

    <ion-list>
      <ion-item *ngIf="showIfNotSupportType">
        <ion-label>{{global.languageContent.process_confirm.process_type}}</ion-label>
        <ion-select [(ngModel)]="typeOfProcess" (ionChange)="onSelectTypeOfProcessChange($event)">
          <ion-option *ngFor="let type of global.listOfPreferences.DmPhanloaiXuly" value="{{ type.id }}">{{ type.name }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{global.languageContent.process_confirm.process_comment}} <span style="color:red">*</span></ion-label>
      </ion-item>
      <ion-item class="fixTxt">
        <textarea [(ngModel)]="processComment" rows="3" placeholder="Nhập nội dung..." style="width: 100%;
        border: none;"></textarea>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Phê Duyệt -->

  <ion-card *ngIf="case != null && this.fromPage == 'approve'">
    <ion-card-header color="primary" style="font-weight: bold; border-bottom: solid">
      {{global.languageContent.approve_confirm.title1}}
      <ion-item text-wrap style="padding-left:0 !important">
       
          <!-- <ng-container *ngIf="case.attachment!=null">
            <img *ngIf="case.attachment.length > 0"
            style="width:15%;height:auto; margin-right:15px" item-start [src]="global.baseURLForIcon + case.attachment[0]"
            (error)="global.updateImgUrl($event)" />
               
          </ng-container> -->
        <p style="color:#7e3d92;">
          {{case.areadetail}}
        </p>
        <p style="color:tomato;">{{case.content}}</p>
        <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
        <p style="color:#7e3d92;">{{global.languageContent.approve_confirm.report_from}}: {{ case.contact.phoneNumber }} - {{case.contact.name}}</p>
        <p><b>{{global.languageContent.approve_confirm.status}}: </b>{{ case.statusName }}</p>
        <!-- <p *ngIf="case.resolvedComment!=null"><span style="color: tomato">Ghi chú: </span>{{case.resolvedComment}}</p> -->
        <ion-item text-wrap style="padding-left:0">
          <small><b>{{global.languageContent.approve_confirm.assigned_content}}: </b></small>
          <p>{{ case.resolvedComment }}</p>
        </ion-item>
      </ion-item>
    </ion-card-header>

    <ion-card-header color="primary" style="font-weight: bold">
      {{global.languageContent.approve_confirm.img_title}}
    </ion-card-header>

      <ng-container *ngIf="case.attachment!=null">
     
      <div *ngIf="case.attachment.length > 0" id="scrolly">
        <img *ngFor="let pic of case.attachment; let i = index" style="height:50px; margin-right:5px ; width:auto" [id]="i"
          [src]="global.baseURLForIcon + pic.filePath" (click)="openImgZoom(i)" />
      </div>    
    </ng-container>

   
    <ng-container *ngIf="case.videoAttachment!=null" style="margin-top:10px">
      <div *ngIf="case.videoAttachment.length > 0" id="scrolly" style="height:180px;">
        <video controls="controls" preload="metadata"
        webkit-playsinline="webkit-playsinline" class="videoPlayer" *ngFor="let video of case.videoAttachment; let i = index"
        style="max-height:180px; width:100%" [id]="i"
        [src]="global.baseURLForIcon + video.filePath"> </video>
      </div>
    </ng-container>  

    <ion-card-header *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" color="primary"
      style="font-weight: bold">
      {{global.languageContent.approve_confirm.process_img_title}}
    </ion-card-header>

    <div *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" id="scrolly">
      <img *ngFor="let picc of case.resolveAttachment; let a = index" style="height:50px; width:auto; margin-right: 5px" [id]="a"
        [src]="global.baseURLForIcon + picc.filePath" (click)="openImgProcessZoom(a)" />
    </div>
    <div style="width:100%; height:10px; border-bottom:solid #488aff; padding-top: 15px;
      "></div>
    <button ion-item (click)="goMap()" style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="map" item-start></ion-icon>
      {{global.languageContent.approve_confirm.location}}
    </button>
    <button ion-item (click)="testTimeline()"
      style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="time" item-start></ion-icon>
      {{global.languageContent.approve_confirm.timeline}}
      <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
    </button>
    <dialog id="imageViewer" style="
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  width: 100%;
      height: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10000;">
      <ion-grid style="height: 100%" no-padding>
        <ion-row justify-content-center align-items-center style="height: 100%;">
          <img src="{{ imgInsideViewer }}" style="max-height: 80%; max-width:100%; margin-top:20%" />
        </ion-row>
      </ion-grid>
      <div style="height:10px; width:10px; top: 5px;
    position:fixed; background: transparent; padding:5px" (click)="closeImgZoom()">
        <button (click)="closeImgZoom()" id="imgZoom" ion-button round small
          style="border: solid 2px white; background: transparent">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </dialog>
    <ion-card-header color="primary" style="font-weight: bold">
      {{global.languageContent.approve_confirm.title2}}
    </ion-card-header>

    <ion-item text-wrap style="padding-left:0;">
      <small style="margin-left:15px"><b>{{global.languageContent.approve_confirm.approve_comment}}: <span style="color:red">*</span></b></small>
      <p></p>
    </ion-item>

    <ion-item class="fixTxt" style=" margin-bottom: 10px;
    ">
      <textarea [(ngModel)]="approveComment" rows="3" placeholder="..." style="width: 100%;
      border: none;"></textarea>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer no-border transparent no-border>
  
  <button *ngIf="this.fromPage == 'process' && this.global.currentUserInfo.donvi_id==this.case.currentExecDepartment.id"
    class="noPad" ion-button block color="primary" (click)="testNewImgPicker()">
    {{global.languageContent.confirm_footer.anhxulyBtn}}
  </button>
  <button *ngIf="this.fromPage == 'approve'" class="noPad" ion-button block color="secondary"
    (click)="assignmentSent()">
    {{global.languageContent.confirm_footer.pheduyetBtn}}
  </button>
 
  <ng-container *ngIf="this.fromPage != 'approve'">
    <button *ngIf="this.fromPage == 'process'" class="noPad" ion-button block color="secondary"
    (click)="assignmentSent()">
    {{global.languageContent.confirm_footer.sendBtn}}
  </button>
  
  <button *ngIf="this.fromPage == 'assign'" class="noPad" ion-button block color="secondary"
    (click)="assignmentSent()">
    {{global.languageContent.confirm_footer.sendBtn}}
  </button>
  </ng-container>    
  
  
  <button *ngIf="fromPage == 'assign' && case.status!=12
    " class="noPad" ion-button block color="danger" (click)="spamReport()">
    {{global.languageContent.confirm_footer.spamBtn}}
  </button>
</ion-footer>