
<ion-content no-padding style="text-align:center;">
  <div style="width:100%; height: 100%; position:relative">

    <div #map id="map" style="width:100%; height: 100%"></div>
   
  </div>
  
</ion-content>

<ion-footer style="background: linear-gradient(to right, rgb(127, 127, 213), #86a8e7, hsl(176, 67%, 74%)); margin-bottom:0 !important">

  <ion-slides (click)="backBtn()" text-center style="width:100%; height:100%" loop="false" slidesPerView="1">

    <ion-slide >
      <button clear icon-only ion-button>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back" style="color:blanchedalmond; font-size: 2.5em"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-footer>