<!-- <ion-content style="background-image: linear-gradient(to right top, #f9ff6f, #e7fc67, #d3f961, #bff55c, #a9f259); color:white"> -->
  <ion-content style="background-color: rgb(29, 139, 212);background-image: url('greenIMGs/background.png')!important;background-size:cover!important;background-position: center top!important;background-repeat: no-repeat!important;">

    <ion-grid justify-content-center align-items-center style="height:100%">
  
  
      <ion-row justify-content-center align-items-center style="height:100%; width:100%">
        <!-- <ion-item style="width:75%; margin-left:12%; margin-right:12%">
              <ion-input [(ngModel)]="phoneNumber" type="text" placeholder="Số điện thoại của bạn..."></ion-input>
              <button ion-button item-end ><ion-icon ios="ios-send" md="ios-send" (click)="informOTP()"></ion-icon></button>
            </ion-item> -->
        <div style="text-align: center;      " class="InputAddOn">
          <p style="color:rgb(252, 252, 186); text-align: center; width:100%; font-size: 1.25em">
            <ion-icon name="call" style="margin-right:5px"></ion-icon>
            Số điện thoại của bạn:
            <span>{{verifedNumber}}</span>
          </p>
          <!-- <input class="InputAddOn-field" [(ngModel)]="phoneNumber" type="text" placeholder="Số điện thoại của bạn...">
          <button style="margin:0px !important" ion-button class="InputAddOn-item">
            <ion-icon ios="ios-send" md="ios-send" (click)="informOTP()"></ion-icon>
          </button> -->
        </div>
        <div style="width:100%; height: 80%;">
          <!-- <img src="https://78.media.tumblr.com/4ffb86cae4def98c817b851fcc192650/tumblr_inline_n3b3ec2gn91s4esdi.png" alt="imgs/logo.png" style="max-width:50%;  margin-left: 25%; margin-bottom:5%"
          /> -->
          <!-- <img src="imgs/logo.png" alt="" style="max-width:50%;  margin-left: 25%; margin-bottom:5%"        /> -->
          <!-- <img src="imgs/logo.png" alt="" style="max-height:30%;  margin-bottom:10%" /> -->
          <img src="imgs/EOC.png" alt="" style="height:30%; width:auto; background: transparent;  margin-bottom:5%; display: block;
          margin-left: auto;
          margin-right: auto;" />
          <div style="width:100%; margin-bottom:5px; height: 20%; ">
            <ion-grid style="height:100%">
              <ion-row style="height:100%">
                <ion-col text-center col-3 style="">
                  <img src="imgs/113.png" style="width:95%; height:auto; margin-right:5%" />
                </ion-col>
                <ion-col (click)="callMaking('113')" style="background: url(imgs/call.jpg) repeat 0 0; background-size: cover ;
    margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color: #dca040 #c57852 #8e4747 ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative"></div>
  
                </ion-col>
                <ion-col (click)="smsSend('113')" text-center style="height:100%; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3); 
      margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;    border-color: #74ec98 #49b96a rgba(100, 100, 100, 0.1) #49b96a; ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative">
                    <img src="assets/imgs/message.png" style="width:auto; height:70%; margin-top:15%; margin-bottom:15%" />
  
                  </div>
  
                </ion-col>
                <ion-col (click)="goRecord('113')" style="background-image: url(imgs/camera.jpg); background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
      margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color: #dca040 #c57852 #8e4747 ">
                  <div style="width: inherit;
    height: inherit;
    border-radius: 4px;
    position: relative"></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
  
          <div style="width:100%; margin-bottom:5px; height: 20%; ">
            <ion-grid style="height:100%">
              <ion-row style="height:100%">
                <ion-col text-center col-3>
                  <img src="imgs/114.png" style="width:95%; height:auto; margin-right:5%" />
                </ion-col>
                <ion-col text-center (click)="callMaking('114')" style="height:100%; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3)
                ;margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color:  #74ec98 rgba(100, 100, 100, 0.1) #49b96a  #49b96a; ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative">
                    <img src="assets/imgs/telephone.png" style="width:auto; height:70%; margin-top:15%; margin-bottom:15%" />
  
  </div>
  
                </ion-col>
                <ion-col (click)="smsSend('114')" style="background-image: url(imgs/text.jpg); background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
  margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color: #dca040 #c57852 #8e4747  ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative">
                  </div>
                  </ion-col>
  
                <ion-col text-center (click)="goRecord('114')"  style="height:100%;background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
                margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color:    #74ec98  #49b96a  #49b96a rgba(100, 100, 100, 0.1);  ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative">                <img src="assets/imgs/cam.png" style="width:auto; height:70%; margin-top:15%; margin-bottom:15%" />
  
                  </div>
                  </ion-col>
               
  
              </ion-row>
            </ion-grid>
          </div>
  
          <div style="width:100%; margin-bottom:5px; height: 20%; ">
            <ion-grid style="height:100%">
              <ion-row style="height:100%">
                <ion-col text-center col-3>
                  <img src="imgs/115.png" style="width:95%; height:auto; margin-right:5%" />
                </ion-col>
                <ion-col (click)="callMaking('115')"  style="background-image: url(imgs/call.jpg); background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
                margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color: #dca040 #c57852 #8e4747  ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative">
                  </div>
                  </ion-col>
                <ion-col (click)="smsSend('115')" text-center  style="height:100%; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
                margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color:  rgba(100, 100, 100, 0.1) #74ec98  #49b96a  #49b96a ; ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative">                <img src="assets/imgs/message.png" style="width:auto; height:70%; margin-top:15%; margin-bottom:15%" />
  
                  </div>
                  </ion-col>
                 
  
                <ion-col (click)="goRecord('115')" style="background-image: url(imgs/camera.jpg); background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1)
                ;margin:1px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 8px;
    float: left;border-color: #dca040 #c57852 #8e4747  ">
                  <div style="width: inherit;
    height: inherit;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative">
                  </div>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </div>
  
          <!-- <ion-row style="width:100%;padding-bottom: 30px;">
          
            <ion-col>
              <div  style="height:100px; width:100%; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);">
                <p (click)="callMaking('113')" style="padding-top: 10px; text-align: center; vertical-align: middle; line-height: 25px; font-weight:bold; color:aliceblue ">
                  
                  <img src="imgs/113.png" alt="" style="height:50px; width:50px"
                  />
                  <br>113</p>
                  <button (click)="goRecord('113')" style="background-image: radial-gradient(circle, #ee6c70, #f38766, #f1a364, #eabf6e, #e0d884);" ion-button block><ion-icon name="camera" ></ion-icon> <span style="margin-left:10px;margin-right:10px">/</span> <ion-icon name="videocam"></ion-icon></button>
  
              </div>
            </ion-col>
  
            <ion-col>
              <div  style="height:100px; width:100%; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);">
                <p (click)="callMaking('114')" style="padding-top: 10px; text-align: center; vertical-align: middle; line-height: 25px; font-weight:bold; color:aliceblue ">
                  <img src="imgs/114.png" alt="" style="height:50px; width:50px"
                  />
                  <br>114
                </p>
                <button (click)="goRecord('114')" style="background-image: radial-gradient(circle, #ee6c70, #f38766, #f1a364, #eabf6e, #e0d884);" ion-button block><ion-icon name="camera" ></ion-icon> <span style="margin-left:10px;margin-right:10px">/</span> <ion-icon name="videocam"></ion-icon></button>
  
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row style="width:100%">
           
            <ion-col>
              <div  style="height:100px; width:50%; margin-left:25%; margin-right:25%; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);">
                <p (click)="callMaking('115')" style="padding-top: 10px; text-align: center; vertical-align: middle; line-height: 25px; font-weight:bold; color:aliceblue ">
                  <img src="imgs/115.png" alt="" style="height:50px; width:50px"
                  />
                  <br>115</p>
                  <button (click)="goRecord('115')" style="background-image: radial-gradient(circle, #ee6c70, #f38766, #f1a364, #eabf6e, #e0d884);" ion-button block><ion-icon name="camera" ></ion-icon> <span style="margin-left:10px;margin-right:10px">/</span> <ion-icon name="videocam"></ion-icon></button>
  
              </div>
            </ion-col>
          </ion-row> -->
        </div>
      </ion-row>
  
    </ion-grid>
  </ion-content>
  <!-- <ion-footer>
    <button ion-button block (click)="joinChat()">Test chat</button>
  </ion-footer> -->