page-home {
    .InputAddOn {
        display: flex;
        width:70%; margin-left:15%; margin-right:15%
      }
      
      .InputAddOn-field {
        font-size:15px;
        padding-left:10px;
        color:rgb(75, 73, 73);
        flex: 1;
        margin-right:5px;
        border: 2px solid white;
        // border-radius: 5%
        /* field styles */
      }
      
      .InputAddOn-item {
        /* item styles */
      } 
    .alertInput {
        button.alert-button:nth-child(1) {
            // color: color($colors, orangé, base);
        }
        button.alert-button:nth-child(2) {
            // font-weight: bold;
            // color: color($colors, bleu, base);
        }
        button.alert-button:nth-child(3) {
            // font-weight: bold;
            // color: color($colors, bleu, base);
        }
    }
 
   
}
.alert-ios .alert-button-group {
    flex-direction: row;
}

.alert-ios .alert-button {        
    width: 33.3%;   
    max-width: 100%; 
    border-bottom: 0.55px solid #dbdbdf; 
}

.alert-md .alert-button-group {
    flex-direction: row;
}

.alert-md .alert-button {        
    // width: 33.3%;   
    max-width: 100%; 
    // border-bottom: 0.55px solid #dbdbdf; 
}

