page-map15 {
    .list-md {
        margin: 0; 
   }
   .item-md.item-block .item-inner {
   border-bottom: 0 !important
   }
   .item-md.item-block .item-inner {
       padding-right: 8px;
       border-bottom: none;
   }
   ion-list {
       margin: 0;
       padding: 0 !important;
   }
   .item-md.item-block .item-inner {
        padding:0; }
        .label-md {
           margin: 0;
       }

       .modalDialog2 {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 200ms ease-in;
        -moz-transition: opacity 200ms ease-in;
        transition: opacity 200ms ease-in;
        pointer-events: none;
    }
    .modalDialog2:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog2 > div {
        width: 85%;
        position: fixed;
        top:30%; left:7.5%;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }
    .close2 {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close2:hover {
        background: #00d9ff;
    }   
    .item-md {
         padding-left: 0; }
}
