<ion-content no-padding style="text-align:center;">
  <div style="width:100%; height: 100%; position:relative">

    <div #map id="map" style="width:100%; height: 100%"></div>
    <div style="position: absolute;
    bottom: 20%;
    z-index: 99;
    right: 10px;">
      <button (click)="myLocation()" ion-button style="background-color: antiquewhite">
        <ion-icon color="danger" style="font-size: 1.8em" ios="ios-compass" md="ios-compass"></ion-icon>
      </button>
    </div>
    <div style="position: absolute; 
    bottom: 30%;
    z-index: 99;
    right: 10px;">
      <button (click)="speechRecording()" ion-button style="background-color: white;
      border-radius: 50%;
      padding: 20px;"> <a href="#openModal2"><ion-icon color="primary" style="font-size: 1.8em" name="microphone"></ion-icon></a>     
      </button>
    </div>

  
  </div>

  <div class="flexContainer" style="display:flex; position: absolute; top: 10px; left:15%;  height: 50px;  width: 70%;">
    <input id="pac-input" class="controls" type="text" placeholder="Tìm kiếm vị trí sự kiện..." style="flex: 1; height:100%;     border: solid 0.5px #c5d4ef;
     border-radius: 50px; padding-left: 15px; padding-right:15px">
    <div style="margin:0px !important; height:100%; background: transparent;" (click)="clearSearch()">
      <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/sign-error-icon.png" style=" display: block;
    margin-left: auto; margin-top:5px;
    margin-right: auto; width:40px; height:40px"></div>
    <!-- <button ion-button style="margin:0px !important; height:100%" (click)="clearSearch()"><ion-icon name="close"></ion-icon> -->
    <!-- </button> -->
  </div>

<!-- Modal -->
<div id="openModal2" class="modalDialog2">
  <div>	<a id="modalClose2" href="#close2" title="Close2" class="close2">X</a>
    <ion-list>

      <ion-item style="background: transparent !important" id="voiceInputLabel2" text-wrap>
        <h4 style="color:rgb(252, 194, 21)">Xin hãy sử dụng ngôn ngữ một cách rõ ràng và phát âm tốt nhất có thể</h4>
      </ion-item>
      <ion-item id="voiceInputImg2" style="background: transparent !important">
        <img src="imgs/voiceinput.gif" />
      </ion-item>
      <ion-grid id="voiceInputErrorBtns2">
        <ion-row>
          <ion-item text-wrap style="background: transparent !important">
            <img item-start style="width:50px; height:auto" src="imgs/voiceError.png" />
            <h4 style="color:rgb(252, 194, 21)">Có lỗi xảy ra, xin vui lòng thử lại.</h4>
          </ion-item>
        </ion-row>
       
        <ion-row>
            <ion-col>
            <button (click)="tryAgain()" ion-button full color="success">Thử Lại
              <ion-icon style="margin-left:8px" ios="md-refresh" md="md-refresh"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </div>
</div>
<!-- /Modal -->


</ion-content>

<ion-footer
  style="margin-bottom:0 !important;background: linear-gradient(to right, rgb(127, 127, 213), #86a8e7, hsl(176, 67%, 74%));">

  <ion-slides (click)="backBtn()" text-center style="width:100%; height:100%" loop="false" slidesPerView="1">

    <ion-slide>
      <button clear icon-only ion-button>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back" style="color:blanchedalmond; font-size: 2.5em"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-footer>