<ion-content *ngIf="!toggleCalendar" padding
  style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  
  <ion-card style="    background: #fafde3 !important;    ">
    <ion-card-header color="primary" style="font-weight: bold">
      <ion-item style="border-radius: 15px;"> Sự việc {{mainLabel}}
        <span item-end
          style="height:40%; padding:0 5px 0 5px; margin-right:15px; background:tomato; color:white; font-weight:bold">{{listCases.length}}</span>
        <!-- <ion-icon item-end (click)="showHideCalendarButton()" name="search" style="font-size: 1.5em"></ion-icon> -->
      </ion-item>
    </ion-card-header>

    <button ion-item *ngIf="hasCalendar" (click)=openCalendar()>
      <ion-icon style="zoom:1.2;" color="primary" name="calendar"></ion-icon>
      <span style="margin-left:10px">Chọn ngày gửi: {{pickdate}}</span>
    </button>

    <ion-list>
      <ion-item text-wrap *ngFor="let case of listCases" (click)="goDetail(case)">
        <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.imageurl"
          (error)="global.updateImgUrl($event)" />
        <p style="color:#7e3d92;">{{case.areadetail}}</p>
        <p style="color:#c14f4f;">{{case.content}}</p>
        <p>{{this.global.dateDisplayFix(case.createdOn)}}</p>
        <p>Người báo: {{case.contact.name}}</p>
        <p style="color:#7e3d92;">{{case.statusName}}</p>
        <p style="color:#c14f4f;">{{case.resolvedComment}}</p>
        <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  
</ion-content>
<ion-content *ngIf="toggleCalendar" padding
  style="background-image: url('imgs/bg.png') !important;background-size:contain!important;background-position: bottom;background-repeat: no-repeat!important">
 
  <ion-refresher style="background: transparent" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tải lại nội dung..."
      refreshingSpinner="circles"
      refreshingText="Xin đợi trong giây lát...">
    </ion-refresher-content>
  </ion-refresher>
 <div style="width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;">
    <ion-grid style="height: 100%" no-padding>
      <ion-row justify-content-center align-items-center style="height: 100%;">
        <ion-card style="border-radius: 15px; position: relative;">
          <div style="height:5px; background: repeating-linear-gradient(
                90deg,
                #7183f7,
                #fa7777,
                #fff78d,
                #a1fad5
              );">
          </div>
          <button style="float: right; margin-top: 5px;
        margin-right: 3%;" id="adsModalCloseBtn" ion-button round small color="danger" (click)="closeCalendar()"
            icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-card-content>
            <ion-calendar #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar>
            <div>
              <p style="margin-left:3%"><span style="font-size:1.5em; color:#488aff">&#9632;</span> Ngày hôm nay <span
                  style="color: #46b592; font-size:1.5em">&#9632;</span> Ngày chọn</p>
            </div>
          </ion-card-content>

        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer
  style="margin-bottom:0 !important;background: linear-gradient(to right, rgb(127, 127, 213), #86a8e7, hsl(176, 67%, 74%));">

  <ion-slides (click)="backBtn()" text-center style="width:100%; height:100%" loop="false" slidesPerView="1">

    <ion-slide>
      <button clear icon-only ion-button>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back" style="color:blanchedalmond; font-size: 2.5em"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-footer>