page-userinfo {
    .button-block-md {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 0 20px 0;
    }
    .list,.list-ios,.item,.item-ios
    {

        background-color: transparent!important;
    }
    *
    {

        color:#fff!important;
    }
    .card
    {
        border-radius: 20px!important;
    }
}
