<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons mode="ios" start>
      <button style='color:#fff!important' ion-button icon-only (click)="openMenu()">
        <img src="imgs/toggle.png" style="width: 30px;">
      </button>
    </ion-buttons>
    <ion-title mode="ios">{{global.languageContent.userinfo.content}}</ion-title>
    <ion-buttons end>
      <button style='color:#fff!important' ion-button icon-only (click)="showInfo()">
        <ion-icon name="ios-information-circle-outline" style="font-size: 2em"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-card>
    <ion-card-header color="primary" style="font-weight: bold">
    </ion-card-header>

    <ion-list>

      <ion-item>
        <ion-label>{{global.languageContent.userinfo.fullname}}<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{global.languageContent.userinfo.ID}}<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="cmnd"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{global.languageContent.userinfo.phonenumber}}<span style="color:red">*</span></ion-label>
        <ion-input type="number" [(ngModel)]="phone" pattern="[0-9]*"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{global.languageContent.userinfo.businessName}}<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="businessName"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Thành phố</ion-label>
        <ion-select #cityChanged *ngIf="global.cityList!=null" [(ngModel)]="city" (ionChange)="onCityChange(cityChanged.value)">
          <ion-option *ngFor="let item of global.cityList" value="{{item.code}}" >{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Quận</ion-label>
        <ion-select #districtChanged *ngIf="global.districtList!=null" [(ngModel)]="district" (ionChange)="onDistrictChange(districtChanged.value)">
          <ion-option *ngFor="let item of global.districtList" value="{{item.code}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Phường</ion-label>
        <ion-select *ngIf="global.wardList!=null" [(ngModel)]="ward">
          <ion-option *ngFor="let item of global.wardList" value="{{item.code}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label>{{global.languageContent.userinfo.address}}</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>
    </ion-list>

    <button class="btnDangNhap" style="background-color: rgba(255, 51, 0, 0.8)!important;border: 0px solid #fff;margin-top:20px!important;margin-bottom: 20px!important;" ion-button block (click)="updateInfo()">
      {{global.languageContent.userinfo.update_btn}}
    </button>
  </ion-card>

  
</ion-content>
<ion-footer style="background-image: url('greenIMGs/backgroundfooter.png')!important;background-size:cover!important;background-position: center bottom!important;background-repeat: no-repeat!important;
height: 50px!important;">

</ion-footer>