<ion-header>

  <ion-navbar hideBackButton="false">

    <ion-title>{{global.languageContent.imgpicker.title1}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <div style="height: 80%">
    <ion-slides slidesPerView="1" pager="true" [hidden]="processedImgURL.length==0">
      <ion-slide *ngFor="let pic of processedImgURL">
        <img [src]="pic" />
      </ion-slide>
    </ion-slides>
    <h3 [hidden]="processedImgURL.length!=0">{{global.languageContent.imgpicker.title2}}</h3>
  </div>
  
  <div style="height:80px; margin-top:15px;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-slides style="height:55px;width:100%" slidesPerView="5" spaceBetween="5" pager="false"
            [hidden]="processedImgURL.length==0">
            <ion-slide style="height:100%" *ngFor="let pic of processedImgURL; let i = index" (click)="thumbnailClick(i)">
              <img style="height:100%; width:auto" [src]="pic" />
            </ion-slide>
          </ion-slides>
          <ion-slides style="height: 20px; width: auto;" slidesPerView="5" spaceBetween="5" pager="false"
            [hidden]="processedImgURL.length==0">
            <ion-slide *ngFor="let pic of processedImgURL; let i = index">
              <button ion-button block color="danger" (click)="delPic(i)">
                <ion-icon ios="md-close" md="md-close"></ion-icon>
              </button>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer no-padding>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col> <button ion-button block icon-left (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>{{global.languageContent.imgpicker.imgPicker_Btn}}
        </button></ion-col>
      <!-- <ion-col> <button ion-button block icon-left (click)="confirmImg()" [disabled]="global.imageURL.length==0">
          <ion-icon name="cloud-upload"></ion-icon>Xác nhận
        </button></ion-col> -->
    </ion-row>
  </ion-grid>
</ion-footer>