<ion-content>

  <ion-grid justify-content-center align-items-center style="height:80%; width: 100%; overflow:hidden;">


    <ion-row justify-content-center align-items-center style="height:100%; width:100%">


      <div style="width:100%; height: 100%;">
        <div style="text-align: center;      " class="InputAddOn">
          <p style="color:rgb(252, 252, 186); text-align: center; width:100%; font-size: 1.3em;     margin-block-end:0">
            <!-- <ion-icon name="call" style="margin-right:5px"></ion-icon> -->
            <span style="color: tomato; font-weight:bold">Số điện thoại của bạn:</span>
            <span style="color:rgb(15, 90, 201); font-size:1.6em; font-weight:bold">{{verifedNumber}}</span>
          </p>
        </div>
        <div style="border-radius: 50%;     margin-left: auto; margin-top:5%;
        margin-right: auto;
        width: 160px;
        height: 160px; background:rgb(226, 234, 247); background-size: 70%;     background-image: url('imgs/EOC.png');
        background-repeat: no-repeat;
        background-position: 50%; ">
        </div>

        <div class="callButton" (click)="callMaking('113')">
          <ion-grid style="width:100%; height:100%">
            <ion-row text-center style="width:100%; height:100%">
              <ion-col col-3>
                <img style="  position: relative;
                top: 50%;
                transform: translateY(-50%); "
                  src="imgs/icon/113a.png" />
              </ion-col>
              <ion-col col-6>

                <h1 style="    margin-block-start: 0;
                margin-block-end: 0; margin:0;
                position: relative;
                top: 50%;
                transform: translateY(-50%);">
                  Cảnh Sát</h1>
              </ion-col>
              <ion-col col-3>
                <img style="  position: relative;
                top: 50%;
                transform: translateY(-50%); "
                  src="imgs/icon/113n.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="callButton" (click)="callMaking('114')">
          <ion-grid style="width:100%; height:100%">
            <ion-row text-center style="width:100%; height:100%">
              <ion-col col-3>
                <img style="  position: relative;
                top: 50%;
                transform: translateY(-50%); "
                  src="imgs/icon/114a.png" />

              </ion-col>
              <ion-col col-6>
                <h1 style="    margin-block-start: 0;
                margin-block-end: 0; margin:0;
                position: relative;
                top: 50%;
                transform: translateY(-50%);">
                  Cứu Hỏa</h1>
              </ion-col>
              <ion-col col-3>
                <img style="  position: relative;
                top: 50%;
                transform: translateY(-50%); "
                  src="imgs/icon/114n.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="callButton" (click)="callMaking('115')">
          <ion-grid style="width:100%; height:100%">
            <ion-row text-center style="width:100%; height:100%">
              <ion-col col-3>
                <img style="  position: relative;
                top: 50%;
                transform: translateY(-50%); "
                  src="imgs/icon/115a.png" />
              </ion-col>
              <ion-col col-6>
                <h1 style="    margin-block-start: 0;
                margin-block-end: 0; margin:0;
                position: relative;
                top: 50%;
                transform: translateY(-50%);">
                  Cấp Cứu</h1>
              </ion-col>
              <ion-col col-3> <img style="  position: relative;
                top: 50%;
                transform: translateY(-50%); "
                  src="imgs/icon/115n.png" /></ion-col>
            </ion-row>
          </ion-grid>
        </div>
        
      </div>
      
    </ion-row>

  </ion-grid>
  <div style=" height:20%; text-align:center">
    <img (click)="testMap()" style="height:100%; width:auto;" src="imgs/Artboard 1botton.png" />
  </div>
</ion-content>
<!-- <ion-footer>
    <button ion-button block (click)="joinChat()">Test chat</button>
    <p>2nd</p>
  </ion-footer> -->