<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons mode="ios" start>
      <button ion-button style="color:white" icon-only (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back" style="font-size: 2em"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">Thông Tin</ion-title>

  </ion-navbar>

</ion-header>

<ion-content
  style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-card>
    <ion-card-header color="primary" style="font-weight: bold">
      Thông tin sự việc
    </ion-card-header>

    <ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p style="color:#999;     font-size: 1.6rem;font-weight: 700;">
              <ion-icon ios="ios-document" md="md-document"></ion-icon> Nội dung thông báo *
            </p>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-10>
            <ion-textarea rows="2" type="text" [(ngModel)]="ghiChuThem"></ion-textarea>
            <div style="width: 0; height:0;
            overflow: hidden;">
                  <textarea id="noiDungThongBaoAn" rows="0" style="width:100%">
                    </textarea>
            </div>        
          </ion-col>
          <ion-col col-2><button color="danger" (click)="speechRecording()" ion-button> <a href="#openModal">
                <ion-icon style="font-size: 1.8em" name="microphone"></ion-icon>
              </a>
            </button></ion-col>
        </ion-row>
      </ion-grid>
   
      <ion-item>
        <ion-label><b>
            <ion-icon ios="ios-card" md="md-card"></ion-icon> Họ và tên
          </b></ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>
            <ion-icon ios="ios-call" md="md-call"></ion-icon> Số điện thoại
          </b> <span style="color:red">*</span></ion-label>
        <ion-input type="number" [(ngModel)]="phone" pattern="[0-9]*"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>
            <ion-icon ios="ios-albums" md="md-albums"></ion-icon> Mức độ
          </b></ion-label>
        <ion-select [(ngModel)]="caseLevel" *ngIf="global.caseDegreeList!=null">
          <ion-option *ngFor="let degree of global.caseDegreeList" value="{{degree.ma_loai_muc_do}}">
            {{degree.ten_loai_muc_do}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-card-header (click)=goMap() *ngIf="gpsPick" color="primary" style="font-weight: bold">
      <ion-icon name="map" item-start></ion-icon> Vị trí sự việc
    </ion-card-header>
    <button ion-item *ngIf="gpsPick" (click)=goMap()>
      Vị trí sự việc
    </button>
    <ion-item text-wrap *ngIf="global.currentCaseAddress!=''">
      <p><b>Vị trí sự việc:</b> {{global.currentCaseAddress}}</p>
    </ion-item>

    <ion-card-header *ngIf="!gpsPick" color="primary" style="font-weight: bold">
      Địa chỉ sự việc
    </ion-card-header>
    <ion-list *ngIf="!gpsPick">

      <ion-item>
        <ion-label>Phường</ion-label>
        <ion-select *ngIf="global.wardList!=null" [(ngModel)]="ward">
          <ion-option *ngFor="let a of global.wardList" value="{{a.name}}">{{a.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Số nhà và đường <span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header color="primary" style="font-weight: bold">
      Gửi kèm hình ảnh sự việc
    </ion-card-header>
    <div style="width:100%; height:auto; padding: 5px">
      <div style="width:100%; height:auto; padding: 5px" on-swipe="onSwipe()">

        <ion-segment [(ngModel)]="toggle" color="danger">
          <ion-segment-button value="picture">
            Hình ảnh
          </ion-segment-button>
          <ion-segment-button value="video">
            Videos
          </ion-segment-button>
        </ion-segment>

        <div>
          <div *ngIf="toggle == 'picture'">

            <ion-grid>
              <ion-row style="margin-bottom:15px">
                <ion-col>
                  <button ion-button block color="primary" (click)="takePhoto()">
                    <ion-icon large name="camera"> Chụp ảnh</ion-icon>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button block color="secondary" (click)="localImagePicker()">
                    <ion-icon large name="folder-open" style="white-space: nowrap; overflow: hidden;
                    text-overflow: ellipsis;"> Từ bộ nhớ</ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <p style="margin-left:5px;color:maroon;" *ngIf="!listHasElements">(*) Bạn hiện chưa chọn tấm ảnh nào.</p>

            <ion-list *ngIf="listHasElements">
              <ion-item-sliding *ngFor="let pic of imageURL" style=" margin-bottom:10px">

                <ion-item style="max-width: 100%; max-height:150px;">
                  <img [id]="pic" [src]="pic" (click)="openImgZoom()" />
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color="danger" (click)="delPic(pic)">
                    <ion-icon name="trash"></ion-icon>
                    Hủy
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </div>

          <div *ngIf="toggle == 'video'">
            <ion-grid>
              <ion-row style="margin-bottom:15px">
                <ion-col>
                  <button ion-button block color="primary" (click)="recordVideo()">
                    <ion-icon large name="videocam"> Quay Phim</ion-icon>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button block color="secondary" (click)="localVideoPicker()">
                    <ion-icon style="white-space: nowrap; overflow: hidden;
                    text-overflow: ellipsis;" large name="folder-open"> Từ bộ nhớ</ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <p style="margin-left:5px" *ngIf="!hasVideos">(*) Bạn hiện chưa chọn video nào.</p>

            <div *ngIf="hasVideos">
              <ion-item>
                <ion-buttons clear end>
                  <button (click)="delVideo()" clear ion-button icon-only>
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-item>
              <ion-item>
                <video style="width:100%; max-height:350px" controls="controls" preload="metadata"
                  webkit-playsinline="webkit-playsinline" class="videoPlayer" [src]="videoFilePath"></video>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-card>
  <dialog id="imageViewer" style="
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  width: 100%;
      height: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10000;">
    <ion-grid style="height: 100%" no-padding>
      <ion-row justify-content-center align-items-center style="height: 100%;">
        <ion-slides id="slideZoomSliders" style="max-height: 80%" centeredSlides="true" zoom="true" loop="true"
          pager="true" paginationType="bullets" spaceBetween="5">
          <ion-slide *ngFor="let pic of imageURL; let i = index">
            <div class="swiper-zoom-container">
              <img [id]="i" [src]="pic" />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>
    <div style="height:10px; width:10px; top: 5px;
    position:fixed; background: transparent; padding:5px" (click)="closeImgZoom()">
      <button (click)="closeImgZoom()" id="imgZoom" ion-button round small
        style="border: solid 1px white; background: transparent">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

  </dialog>


  <!-- Modal -->
  <div id="openModal" class="modalDialog">
    <div> <a id="modalClose" href="#close" title="Close" class="close">X</a>
      <ion-list>

        <ion-item style="background: transparent !important" id="voiceInputLabel" text-wrap>
          <h4 style="color:rgb(252, 194, 21) !important">Xin hãy sử dụng ngôn ngữ một cách rõ ràng và phát âm tốt nhất có thể</h4>
        </ion-item>
        <ion-item id="voiceInputImg" style="background: transparent !important">
          <img src="imgs/voiceinput.gif" />
        </ion-item>
        <ion-grid id="voiceInputErrorBtns">
          <ion-row>
            <ion-item text-wrap style="background: transparent !important">
              <img item-start style="width:50px; height:auto" src="imgs/voiceError.png" />
              <h4 style="color:rgb(252, 194, 21) !important">Có lỗi xảy ra, xin vui lòng thử lại.</h4>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-col>
              <button (click)="tryAgain()" ion-button full color="success">Thử Lại
                <ion-icon style="margin-left:8px" ios="md-refresh" md="md-refresh"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

    </div>
  </div>
  <!-- /Modal -->
</ion-content>
<!-- <ion-footer style="background-image: url('greenIMGs/backgroundfooter.png')!important;background-size:cover!important;background-position: center bottom!important;background-repeat: no-repeat!important;
height: 50px!important;">

</ion-footer> -->
<ion-footer style="text-align: center!important;">
  <button
    style="height: 40px!important;;width: 60%!important;color:white;padding-top:15px!important;padding-bottom: 15px!important;border-radius: 20px!important"
    ion-button (click)="sentData()">
    GỬI
    <div
      style="width: 65px!important;position: absolute!important;top:0px!important;right:0px!important;border-radius: 50%!important;background-color:#fff!important;border-radius: 20px;border:0px solid #fff!important;border-radius: 20px!important;height: 40px!important;">
      <img src="https://cdn.dribbble.com/users/486050/screenshots/2832783/seamless-payments.gif"
        style="height:38px!important;border-radius: 50%!important;margin-top:3px!important;">
    </div>

  </button>
</ion-footer>