<ion-menu id="menuBeforeLogin" [content]="content">
  <ion-header text-center style="background: #2467be; color:white;padding-top:5%">
    <h4>Orim-X Light Trực Tuyến</h4>
    <!-- <img (click)="languageChanged('vi')" style="width: 15%; height:auto" [style.border-bottom]="global.chosenLanguage =='vi' ? '#f7e61f solid 3px' : 'none'" src="https://img.icons8.com/color/48/000000/vietnam.png">
    <img (click)="languageChanged('en')" style="width: 15%; height:auto" [style.border-bottom]="global.chosenLanguage =='en' ? '#f7e61f solid 3px' : 'none'" src="https://img.icons8.com/color/48/000000/usa.png"> -->
  </ion-header>
  <ion-content style="background-image: url('https://images.iphonephotographyschool.com/22677/1120b/How-To-Blur-Background-On-iPhone.jpg') !important;background-size: cover!important;background-position: bottom">
    <div style="padding: 3%">
      <ion-list style="background-color:rgba(0, 0, 0, 0.5)!important">
        <button class="menuItems" ion-item (click)="openPage('post')">
          <img src="imgs/menu/paper-plane.png" class="menuIcons" /> {{global.languageContent.menu.baosukien}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('userInfo')">
          <img src="imgs/menu/conference-call.png" class="menuIcons" />
          {{global.languageContent.menu.thongtin}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('sentCases')">
          <img src="imgs/menu/overview-pages-2.png" class="menuIcons" />
          {{global.languageContent.menu.sukiendagui}}
        </button>

        <button class="menuItems" ion-item (click)="openPage('login')">
          <img src="imgs/menu/login-rounded-right.png" class="menuIcons" />
          {{global.languageContent.menu.dangnhap}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('intro')">
          <img src="imgs/menu/user-manual.png" class="menuIcons" />
          {{global.languageContent.menu.huongdan}}
        </button>

      </ion-list>
    </div>

  </ion-content>
  <ion-footer no-border no-padding text-center style="background: rgba(0, 0, 0, 0);margin-bottom: 0px!important;min-height: 80px!important;color:#fff!important;padding-top:7%!important">

    <ion-item text-center style="background-color: rgba(1, 126, 134, 0.9)!important">
      <!-- <small>Device id: <span>{{global.deviceID}}</span></small><br> -->
      <small>{{global.languageContent.menu.version}}: {{global.currentVersion}}<br/>{{global.languageContent.menu.donviphattrien}}: VNPT</small>
    </ion-item>
  </ion-footer>
</ion-menu>

<ion-menu id="menuAfterLogin" [content]="content">
  <ion-header text-center style="background: #2467be; color:white;padding-top:5%">
    <h4>Orim-X Light Trực Tuyến</h4>
    <!-- <img (click)="languageChanged('vi')" style="width: 15%; height:auto" [style.border-bottom]="global.chosenLanguage=='vi' ? '#f7e61f solid 3px' : 'none'" src="https://img.icons8.com/color/48/000000/vietnam.png">
    <img (click)="languageChanged('en')" style="width: 15%; height:auto" [style.border-bottom]="global.chosenLanguage=='en' ? '#f7e61f solid 3px' : 'none'" src="https://img.icons8.com/color/48/000000/usa.png"> -->
  </ion-header>
  <ion-content style="background-image: url('https://images.iphonephotographyschool.com/22677/1120b/How-To-Blur-Background-On-iPhone.jpg') !important;background-size: cover!important;background-position: bottom">
    <div style="padding: 3%">
      <ion-list style="background-color:rgba(0, 0, 0, 0.4)!important">
        <button class="menuItems" ion-item (click)="openPage('post')">
          <img src="imgs/menu/paper-plane.png" class="menuIcons" /> {{global.languageContent.menu.baosukien}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('userInfo')">
          <img src="imgs/menu/conference-call.png" class="menuIcons" />
          <span>{{global.languageContent.menu.thongtin}}</span>
        </button>
        <button class="menuItems" ion-item (click)="openPage('sentCases')">
          <img src="imgs/menu/overview-pages-2.png" class="menuIcons" />
          {{global.languageContent.menu.sukiendagui}}
        </button>
        <button *ngIf="global.islogin && global.checkPermission('phancong_menu_app')" class="menuItems" ion-item
          (click)="openPage('assign')">
          <img src="imgs/menu/hand-with-pen.png" class="menuIcons" />
          {{global.languageContent.menu.phancong}}
        </button>
        <button *ngIf="global.islogin && global.checkPermission('xuly_menu_app')" class="menuItems" ion-item (click)="openPage('process')">
          <img src="imgs/menu/process.png" class="menuIcons" />
          {{global.languageContent.menu.xuly}}
        </button>
        <button *ngIf="global.islogin && global.checkPermission('pheduyet_menu_app')" class="menuItems" ion-item
          (click)="openPage('aprroval')">
          <img src="imgs/menu/approval.png" class="menuIcons" />
          {{global.languageContent.menu.pheduyet}}
        </button>
        <button *ngIf="global.islogin && global.checkPermission('dashboard_menu_app')" class="menuItems" ion-item
          (click)="openPage('dashboard')">
          <img src="imgs/menu/vertical-settings-mixer.png" class="menuIcons">{{global.languageContent.menu.dashboard}}
        </button>
        <button *ngIf="global.islogin && global.checkPermission('quantri_menu_app')" class="menuItems" ion-item (click)="openPage('statistic')">
          <img src="https://img.icons8.com/color/48/000000/graph-report.png" class="menuIcons" />
          {{global.languageContent.menu.quantri}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('employeeInfo')">
          <img src="imgs/menu/gender-neutral-user.png" class="menuIcons" />
          {{global.languageContent.menu.thongtinnhanvien}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('changePass')">
          <img src="imgs/menu/privacy.png" class="menuIcons" />
          {{global.languageContent.menu.doimatkhau}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('logout')">
          <img class="menuIcons" src="imgs/menu/export.png">
          {{global.languageContent.menu.dangxuat}}
        </button>
        <button class="menuItems" ion-item (click)="openPage('intro')">
          <img class="menuIcons" src="imgs/menu/user-manual.png" />
          {{global.languageContent.menu.huongdan}}
        </button>
        <!-- <ion-textarea placeholder="DeviceID">{{global.deviceID}}</ion-textarea> -->

      </ion-list>
    </div>

  </ion-content>
  <ion-footer no-border no-padding text-center style="background: rgba(0, 0, 0, 0);margin-bottom: 0px!important;min-height: 80px!important;color:#fff!important;padding-top:7%!important">
    <ion-item text-center style="background-color: rgba(1, 126, 134, 0.9)!important">
           <small>{{global.languageContent.menu.version}}: {{global.currentVersion}}<br/>{{global.languageContent.menu.donviphattrien}}: VNPT</small>
    </ion-item>

  </ion-footer>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>