// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.has-refresher > .scroll-content { background-color: transparent !important; }


.menuIcons{
  height:35px; width: auto;
  vertical-align: middle;
  margin-right: 10px;
}
ion-select{
  max-width: 70% !important;// your choice :)
}
.loadingImg{
  width:40px;
}
.bar-button-menutoggle-md {
  margin: 0 2px!important;
  padding: 0 2px!important;

}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {

  color: #fff!important;
  background-color: transparent;

}
.toolbar-title-ios {

  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff!important;
  pointer-events: auto;


}
.card-header,.card-header-ios,.card-header-ios-primary
{

  background-color: transparent!important;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {


 opacity: 0.7!important;

 


}
.footer-md::before {
  top: -2px;
  bottom: auto;
  background-position: left 0 top 0;
  height: 0px!important;
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0)!important;
}
ion-app.ios [padding] .scroll-content {
  padding: 0px!important;  
}
.scroll-content
{
  background-image: url('greenIMGs/bg.png')!important;background-size:cover!important;background-position: center top!important;background-repeat: no-repeat!important;
}
.toolbar-background-md {
  border-color: transparent !important;
 
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.toolbar,.toolbar-background,.toolbar-background-ios
{

 
background: rgba(32,126,227,1);

}

.newmenuicon
{

  width: 22%!important;
  vertical-align: middle!important;
  text-align: center!important;
  margin: 5px;

border-radius: 50%!important;
border-bottom-right-radius: 0px!important;

background-image: url('http://creativewebmart.in/images/glass-bg.png');
  background-repeat: no-repeat;
  background-position: center center!important;
 
  background-size: 250%!important;
// /


}
.newmenuicon img
{
    width:60px;
    margin-top:6px;
    
}

.item
{
  background-color:rgba(0, 0, 0, 0.205)!important;
 
}
.list-ios > .item-block:first-child {
  border-top: 0px solid #c8c7cc!important;

}
.item-inner
{

  border-bottom: 1px solid rgba(255, 255, 255, 0.09)!important;
  color:#fff!important;
}
.card-ios {
  margin: 12px;
  border-radius: 2px;
  width: calc(100% - 24px);
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0)!important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
ion-card {
  display: block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0)!important;
}
.newMenu {

 width: 85%!important;

  
  min-height: 69px!important;
  margin: auto;
      margin-bottom: auto;
    
  background-image: url("https://arcrelocation.com/wp-content/uploads/2015/03/gradient-bg-1920x1080.png");
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: 350%!important;
  border-radius: 42px !important;
  margin-bottom: 80px!important;

}
.btnDangNhap
{
  margin:auto!important;
}

// ion-content {
//   --background: none;
//   background-image: url('imgs/bg.png');
//   background-position: center top;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
.card,.card-ios
{
   
    background-color:rgba(0, 0, 0, 0.7)!important;
    border-radius: 10px!important;
    border-bottom-right-radius: 0px!important;
}
.content,.content-ios
  {

  background-color:rgb(238, 238, 238)!important;
  background-size:cover!important;
  background-position: bottom!important;
  }
  .newMenu1 td{

    text-align: left!important;
    padding-left:5px!important;
    font-size: 16pt!important;
    word-break: break-word!important;
  }
  td.newmenuicon1
  {

    padding-right:5px!important;
  }
  .newMenu1 {

    width: 90%!important;
   
     
     min-height: 69px!important;
     margin: auto;
         margin-bottom: auto;
       
     background-image: url("https://arcrelocation.com/wp-content/uploads/2015/03/gradient-bg-1920x1080.png");
     background-repeat: no-repeat;
     background-position: center !important;
     background-size: 350%!important;
     border-radius: 42px !important;
     margin-bottom: 10px!important;
     padding:5px!important;
   
   }

   ion-content:not(.background-color-transparent) {
    background-color: #fff !important;
  }
  ion-app, .nav-decor{ background-color: transparent !important;}