page-intro {
    *
    {
        color:#fff!important;
    }
    .slide-zoom {
        height: 100%;
        width: 90%!important;
    }
    h1
    {

        color:#5c5c5c;
    }
    .slide-zoom {
        
        // margin-bottom: 15%;
        height:100%;
        width: 90%!important;
    }
    .item
    {

        background-color: rgba(0, 0, 0, 0)!important;
        border:0px solid #dadada!important;
        border-radius: 30px!important;
        width: 90%!important;
        margin: auto;
        padding-top:4px;
        padding-bottom: 4px;
    }
    .btnBatDau
    {
        
        background-color: rgba(0, 0, 0, 0.9)!important;
        border:0px solid #dadada!important;
        border-radius: 30px!important;
        width: 80%!important;
        margin: auto;
        padding:0px!important;
        padding-top:20px!important;
        padding-bottom: 20px!important;
        
background: rgba(0,162,255,1);
background: -moz-linear-gradient(left, rgba(0,162,255,1) 0%, rgba(255,0,132,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,162,255,1)), color-stop(100%, rgba(255,0,132,1)));
background: -webkit-linear-gradient(left, rgba(0,162,255,1) 0%, rgba(255,0,132,1) 100%);
background: -o-linear-gradient(left, rgba(0,162,255,1) 0%, rgba(255,0,132,1) 100%);
background: -ms-linear-gradient(left, rgba(0,162,255,1) 0%, rgba(255,0,132,1) 100%);
background: linear-gradient(to right, rgba(0,162,255,1) 0%, rgba(255,0,132,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2ff', endColorstr='#ff0084', GradientType=1 );

    }
    .newmenuicon1
{

  width: 20%!important;
  vertical-align: middle!important;
  text-align: center!important;
  margin: 5px;

border-radius: 50%!important;
border-bottom-right-radius: 0px!important;

background-image: url('http://creativewebmart.in/images/glass-bg.png');
  background-repeat: no-repeat;
  background-position: center center!important;
 
  background-size: 250%!important;
  color:red!important;
// /


}
//     .slider-pager .slider-pager-page 
// {
//  stroke: #25426F !important;
// }
// .slider-pager .slider-pager-page.active
// {
// stroke: #2ECC71 !important;
// }
.swiper-pagination-bullet-active{
    background: #2ECC71  !important;
    opacity: 1;
  }
  .footer
  {

 
    margin-bottom: 10px;
    padding-bottom: 0px!important;
  }
  
  .icongohome
  {
      font-size: 30px;
      color:#fff!important;
  }
}
.content
{

    background-image: url('imgs/bg.png')!important;
    background-position: bottom center;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.donviphattrien
{

    position: absolute!important;
    bottom: 20px!important;
    color:#fff!important;
    border:1px solid #fff!important;
}
.donviphattrien
{
    background-color: rgba(0, 0, 0, 0.9)!important;
    width: 83%!important;
    margin: auto;
    padding:15px!important;
  
    border-radius: 30px!important;
    border-bottom-right-radius: 0px!important;
    
    font-size: 14pt!important;
    position: absolute;
    bottom: 0px!important;
    text-align: center;
    padding-top:16px!important;
    padding-bottom: 16px!important;
    margin-left:2%!important;
    margin-right:2%!important;
    color:#fff!important;
    

}
.donviphattrien span{
    font-size: 11pt!important;
    margin: auto!important;
    color:#fff!important;
    
}
.donviphattrienright
{
  
   
    background-color: rgba(0, 0, 0, 0)!important;

   border-radius: 50%!important;
   
  
}
.footer
  {

 
    margin-bottom: 10px;
    padding-bottom: 0px!important;
  }
  .btnGoHome
  {
    
      background-color: rgba(0, 0, 0, 1)!important;
     
     color:#fff!important;
     border:0px solid #fff!important;
  }
  .icongohome
  {
      font-size: 30px;
      color:#fff!important;
  }
  .btnGoHome
  {
     
   
      background-color: transparent!important;
    
     color:rgb(255, 0, 0)!important;
  }