<ion-content no-padding class="intro" style="background-image: url('imgs/orimx.png') !important;background-size:cover;background-repeat: no-repeat!important">

  <div style="height:100vh; padding-top:0%;background-color: rgba(66, 66, 66, 0.1)!important;">
    <ion-slides (ionSlideDidChange)="slideChanged()" style="height:100% !important; " pager=true>
      <ion-slide style="color: white; height:100%">
        <h1 style="color:white;"></h1>
        <h1 style="color:white!important;">  </h1>
        <div id="logo"></div>
        <!-- <div>
          <img src="https://vcdn-vnexpress.vnecdn.net/2019/03/04/cau-can-gio-6508-1551697298.jpg">
        </div>             -->
          <button (click)="goHome()" class="btnGoHome" style="background-color: transparent;color: transparent;position: absolute;left:45%;bottom:10%;">
           <img src="https://community-home-assistant-assets.s3.dualstack.us-west-2.amazonaws.com/original/3X/e/6/e6172a92f32ab6754c664705604f69a249de38d9.gif" style="width: 40px;"/>
          </button>    
        <br/>  <span style="color: white; font-size: 18px"></span>
   
      </ion-slide>
      <ion-slide style="color: white; max-height:100%;background-image: url('imgs/orimx_blur.png') !important;background-size:cover;background-repeat: no-repeat!important">
        <h3 style="color: white">HỆ THỐNG <br/>
          PHẢN ÁNH TRỰC TUYẾN
            </h3>
        <p style="color: white!important; padding-left: 40px; padding-right: 40px;"class="text-center padding">
          <strong style="color:white!important">Người dân phản ánh <br> cho Chính quyền <br/> về “Trật tự đô thị”  </strong>
        </p>
          <p style="text-align: justify;color: white; padding: 40px">
            Ứng dụng này là phương tiện để người dân cung cấp cho Chính quyền Thành phố Thanh Hóa các thông tin vi phạm về Trật tự, Môi trường, Quy hoạch.
            <br/>
            <br/>
           
            Các thông tin người dân phản ánh sẽ được tự động chuyển về đúng bộ phận, cá nhân có trách nhiệm để xử lý.
                     
          </p>
      </ion-slide>
      <ion-slide style="color: white; max-height:100%;max-height:100%;background-image: url('imgs/orimx_blur.png') !important;background-size:cover;background-repeat: no-repeat!important">
        <h3 style="color: white;text-transform: uppercase;">{{global.languageContent.intro.txt6}}</h3>
       <br/>
       <p>
      B1: Lựa chọn lĩnh vực muốn phản ánh.
    </p>
    <p>
B2: Lựa chọn nội dung muốn phản ánh. </p>
<p>
B3: Nhập thông tin phản ánh (Hình ảnh, nội dung thông báo, vị trí sự việc...) và Gửi tin báo. </p>
<p style="position: absolute;bottom: 5%;">
  Chỉ cần 3 bước với không quá 3 phút
 để  chung tay xây dựng
 <br/>
 Thành phố Thanh Hóa hiện đại, bền vững.

</p>
        <table class="newMenu1"  style="width: 100%!important;display: none;">
          <tr>
              <td class="newmenuicon1">
                <h2>1</h2>
              </td>
              <td class="btntitle">{{global.languageContent.intro.txt7}} </td>
          </tr>
      </table>
      <table class="newMenu1"  style="width: 100%!important;display: none;">
        <tr>
            <td class="newmenuicon1">
              <h2>2</h2>
            </td>
            <td class="btntitle">{{global.languageContent.intro.txt8}} </td>
        </tr>
    </table>
    <table class="newMenu1"  style="width: 100%!important;display: none;">
      <tr>
          <td class="newmenuicon1">
            <h2>3</h2>
          </td>
          <td class="btntitle">{{global.languageContent.intro.txt9}} </td>
      </tr>
  </table>
      </ion-slide>
      <ion-slide style="color: white; max-height:100%;max-height:100%;background-image: url('imgs/orimx_blur.png') !important;background-size:cover;background-repeat: no-repeat!important">
        <h3 style="color: white;text-transform: uppercase;">{{global.languageContent.intro.txt10}}</h3>
        <p style="padding-left: 40px;
        padding-right: 40px;text-align: justify;color: white" class="padding"></p>
        <ion-item>
          <ion-label style="border:0px solid #dadada;color:#fff">{{global.languageContent.intro.agree_txt}}</ion-label>
          <ion-checkbox [(ngModel)]="agreement" (ionChange)="checkAgrrement()"></ion-checkbox>
        </ion-item>
        <button class="btnBatDau" *ngIf="agreement" (click)="goHome()" ion-button style="margin-top:15px">{{global.languageContent.intro.start_btn}} </button>
      </ion-slide>
    </ion-slides>
  </div>
 
</ion-content>
<ion-footer>
    <div class="text-center padding">
    </div>
  <div class="donviphattrienright text-center">
     </div>
</ion-footer>