<!--
  Generated template for the AssignconfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding
  style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-card *ngIf="case != null">
    <ion-card-header color="primary" style="font-weight: bold; border-bottom: solid">
      {{global.languageContent.case_detail.title}}
      <ion-item text-wrap style="padding-left:0 !important">
        <!-- <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.loai_tin_bao"
          (error)="global.updateImgUrl($event)" /> -->
        <p style="color:#7e3d92;">
          <ion-icon style="height:1em; width:auto" name="pin"></ion-icon> {{case.areadetail}}
        </p>
        <p style="color: #c14f4f">
          <ion-icon style="height:1em; width:auto" name="document"></ion-icon> {{case.content}}
        </p>
        <p>
          <ion-icon style="height:1em; width:auto" name="time"></ion-icon>
          {{this.global.dateDisplayFix(case.createdOn)}}
        </p>
        <p>{{global.languageContent.case_detail.report_from}}: {{case.contact.phoneNumber}} - {{case.contact.name}}</p>
        <p style="color:#7e3d92;">
          <ion-icon style="height:1em; width:auto" name="stats"></ion-icon> {{case.statusName}}
        </p>
       
      </ion-item>
    </ion-card-header>

    <ion-card-header color="primary" style="font-weight: bold">
      {{global.languageContent.case_detail.img_title}}</ion-card-header>

    <div *ngIf="case.attachment!=null && case.attachment.length > 0" id="scrolly">
      <img *ngFor="let pic of case.attachment; let i = index" style="margin-right: 5px ; height:50px; width:auto" [id]="i" [src]="global.baseURLForIcon + pic.filePath"
        (click)="openImgZoom(i)" />
    </div>
    <div *ngIf="case.attachment!=null && case.attachment.length == 0" id="scrolly">
      <p style="margin:5px;">(*) {{global.languageContent.case_detail.imgError}}
      </p>
    </div>

    <ion-card-header *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" color="primary"
      style="font-weight: bold">
      {{global.languageContent.case_detail.process_img_title}}
    </ion-card-header>

    <div *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" id="scrolly">
      <img *ngFor="let picc of case.resolveAttachment; let a = index" style="height:50px; width:auto; margin-right: 5px" [id]="a"
        [src]="global.baseURLForIcon + picc.filePath" (click)="openImgProcessZoom(a)" />
    </div>

    <div style="width:100%; height:10px; border-bottom:solid #488aff; padding-top: 15px;
      "></div>
    <button ion-item (click)="goMap()" style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="map" item-start></ion-icon>
      {{global.languageContent.case_detail.location}}
    </button>

    <ion-card-header *ngIf="case.videoAttachment!=null && case.videoAttachment.length > 0" color="primary" style="font-weight: bold">
      {{global.languageContent.case_detail.video_title}}
    </ion-card-header>

    <ng-container *ngIf="case.videoAttachment!=null">
      <div *ngIf="case.videoAttachment.length > 0" id="scrolly" style="height:300px">
        <video controls="controls" preload="metadata"
        webkit-playsinline="webkit-playsinline" class="videoPlayer" *ngFor="let video of case.videoAttachment; let i = index" style="max-height:300px; width:100%" [id]="i"
        [src]="global.baseURLForIcon + video.filePath"> </video>
      </div>

      <!-- <div *ngIf="case.videoAttachment.length == 0" id="scrolly">
        <p style="margin:5px;">(*) {{global.languageContent.case_detail.videoError}}</p>
      </div> -->
    </ng-container>
   

    <ng-container *ngIf="case.status=='14' && case.ratingComment==null">
      <ion-card-header color="primary" style="font-weight: bold">
        {{global.languageContent.case_detail.rating_title}}
      </ion-card-header>
      <div style="text-align:center;">
        <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline"
          halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
        </rating>
      </div>
      <div style="padding:5px">
          <ion-textarea placeholder="Xin hãy chia sẻ thêm hồi ở đây..." [(ngModel)]="feedback" maxlength="500" id="inputFk"
          (ngModelChange)="maxLengthCheck($event)"></ion-textarea>
        <small style="float:right; color:grey; margin-right: 5px">{{txtcounter}}<span>/500</span></small>
      </div>
    
      <button ion-button block (click)="sendFeedback()">{{global.languageContent.case_detail.rating_btn}}
      </button>
    </ng-container>

    <ng-container *ngIf="case.status=='14' && case.ratingComment!=null">
        <ion-card-header color="primary" style="font-weight: bold">
          {{global.languageContent.case_detail.rating_content}}
        </ion-card-header>
        <div style="text-align:center; ">
          <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline"
            halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
          </rating>
        </div>
       <ion-item text-wrap>
         Nội dung: {{case.ratingComment}}
       </ion-item>
      </ng-container>
  </ion-card>
</ion-content>