page-case-detail {
*
{

    color:#fff!important;
}
}
page-case-detail {
    .homeavatar{
        border-radius: 0;
    }
    #scrolly{
      width: 100%;
      height: 50px;
      overflow: auto;
      overflow-y: hidden;
      margin: 0 auto;
      white-space: nowrap;
      padding-left: 15px;
    //   border: 1px solid #488aff;
    //   border-top:0; border-bottom:0;
  }

  #scrolly img{
      // margin-bo: 10px;
      display: inline;
  }
}
.fixTxt > .item-inner > .input-wrapper > .label-md {
    margin:0px;
}
.noPad.button-block-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 20px 0;
}
