page-changepass {
    *
    {
        color:white!important;
    }
    .card-header-md {       
        padding: 16px 16px 0 16px;
    }
    .btnDoiMatKhau
{

    background-color: rgba(251, 255, 0, 0)!important;
    color: rgb(255, 255, 255)!important;
    width: 80%!important;
    margin: auto!important;
    border-radius: 20px!important;
    border:1px solid rgb(255, 255, 255)!important;
    
}
.item,.item-ios
{

    background-color: transparent!important;
}
.btnChangPass
{


    background-color: rgba(255, 60, 0, 0.493)!important;
    margin-top:5px;
    margin-bottom: 10px!important;
}
}
