<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons mode="ios" start>
      <button ion-button icon-only (click)="openMenu()">
        <img src="imgs/toggle.png" style="width: 30px;">
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-card>
    <ion-card-header color="primary" style="font-weight: bold">
      {{global.languageContent.changepass.header_title}}
    </ion-card-header>
    <ion-card-content>
        <!-- <ion-item> 
          <ion-label floating>Mật khẩu cũ<span style="color:red"> *</span></ion-label>
          <ion-input type="password" [(ngModel)]="oldPass"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label floating>{{global.languageContent.changepass.new_pass}}
            <span style="color:red"> *</span></ion-label>
          <ion-input type="password" [(ngModel)]="newPass"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{global.languageContent.changepass.re_new_pass}}
            <span style="color:red"> *</span></ion-label>
          <ion-input type="password" [(ngModel)]="confirmPass"></ion-input>
        </ion-item>        
    </ion-card-content>
    <button block class="btnChangPass btnDangNhap" ion-button (click)="updatePass()">{{global.languageContent.changepass.update_btn}}
    </button>

  </ion-card>

</ion-content>