
<ion-header>

  <ion-navbar>
    <ion-title>{{global.languageContent.timeline.header_title}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content no-padding>
   <div class="timeline" *ngIf="items.length>0">
    <div *ngFor="let item of items; let i = index" [className]="i%2==0 ? 'container left' : 'container right'">
      <div class="nodeContent">
        <h4>{{item.time.title}} <small><i>{{item.time.subtitle}}</i></small></h4>      
          <p><ion-icon style="color: #fb845f;" name="contact"></ion-icon>
            {{item.title}}</p> 
          <p><ion-icon style="color: #c4b958;" name="briefcase"></ion-icon>
            {{global.languageContent.timeline.department}}: {{item.department}}</p>         
        <p><ion-icon style="color: #65999c;" name="document"></ion-icon>
          {{global.languageContent.timeline.content}}: {{item.content}}</p>
      </div>
    </div> 
  </div>
</ion-content>

