<ion-content class="background-color-transparent" no-padding>

  <div *ngIf="currentStep==1" class="background-color-transparent" style="height:100vh; width:100vw;">
    <div class="background-color-transparent" style="height:300px; width:100%;  position:relative !important">
    </div>

    <div style=" position:relative !important; background: white; height: calc(100vh - 300px); width:100%">

      <ion-grid no-padding>
        <ion-row no-padding class="cameraRow">
          <ion-col no-padding class="cameraCol">
            <button style="height:50px; background-color: #ffcf48" class="cameraBtn" ion-button (click)="takePicture()"
              block>
              <span>
                <ion-icon style="font-size:2.5em" name="camera"></ion-icon>
              </span>
            </button>
          </ion-col>
        </ion-row>
        <ion-row no-padding class="cameraRow">
          <ion-col no-padding class="cameraCol">
            <button style="background-color: #F2C078" class="cameraBtn" (click)="recordVideo()" ion-button block>
              <ion-icon style="font-size:1.8em" name="videocam"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding class="cameraCol">
            <button (click)="SwitchCamera()" style="background-color: #f37272" class="cameraBtn" ion-button block>
              <ion-icon style="font-size:1.8em" name="repeat"></ion-icon>
            </button>
          </ion-col>
          <ion-col no-padding class="cameraCol">
            <button (click)="presentActionSheet()" style="background-color: #7EBC89" class="cameraBtn" ion-button block>
              <ion-icon style="font-size:1.8em" name="images"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <img (click)="takePicture()" *ngIf="!listHasElements && !hasVideos" style="width: 100%;height:auto" src="imgs/noPic.gif" />
      <!-- <div class="content2" (click)="takePicture()" *ngIf="!listHasElements && !hasVideos">
        <ion-item no-padding text-center style="height:100%; width:100%; padding:10px; background: transparent!important">
          <h2 style="color: #b0aeae;
      font-weight: bold;" text-wrap class="quotation">Bạn chưa cung cấp ít nhất
            một bức ảnh hoặc video vi phạm nào!</h2>
        </ion-item>
      </div> -->

      <div *ngIf="listHasElements">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-slides #slidesImg (ionSlideDidChange)="slideChanged()" style="height:150px;width:100%" slidesPerView="3"
                spaceBetween="5" [hidden]="imageURL.length==0">
                <ng-container *ngFor="let pic of imageURL; let i = index">
                    <ion-slide style="height:100%; position:relative" *ngIf="i<3" (click)="openImgZoom()">
                        <img style="height:100%; width:auto" [src]="pic" />
                        <button style="position:fixed; bottom:0; margin: 0 !important; padding: 0 !important" ion-button
                          block color="danger" (click)="delPic(i)">
                          <ion-icon ios="md-close" md="md-close"></ion-icon>
                        </button>
                      </ion-slide>
                </ng-container>
              </ion-slides>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="imageURL.length==4 || imageURL.length==5 ">
            <ion-col>
              <ion-slides #slidesImg (ionSlideDidChange)="slideChanged()" style="height:150px;width:100%" slidesPerView="3"
                spaceBetween="5" [hidden]="imageURL.length==0 ">
                <ng-container  *ngFor="let pic of imageURL; let i = index">
                    <ion-slide style="height:100%; position:relative" *ngIf="i==3 || i==4" (click)="openImgZoom()">
                        <img style="height:100%; width:auto" [src]="pic" />
                        <button style="position:fixed; bottom:0; margin: 0 !important; padding: 0 !important" ion-button
                          block color="danger" (click)="delPic(i)">
                          <ion-icon ios="md-close" md="md-close"></ion-icon>
                        </button>
                      </ion-slide>
                </ng-container>
               
              </ion-slides>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="hasVideos" style="background-color: white!important; margin-top:6px; padding-left:4%">
        <div style="background:transparent!important; position: relative !important">
          
              <button (click)="delVideo()" round ion-button style="position: absolute !important; top:0; right:5px;   z-index: 1;">
                  <ion-icon name="close"></ion-icon>
                </button>
              <ion-item style="background-color: white !important">
                <video style="background-color: white !important;width:100%; max-height:200px; border: solid 1px rgb(201, 199, 199); border-radius:15px" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                  class="videoPlayer" [src]="videoFilePath"></video>
              </ion-item>
        </div>
        
      </div>
   
    </div>
  </div>


  <div [hidden]="currentStep!=2" style="height:100%; width:100%; background-color: white">
    <div style="width:100%; height: 100%; position:relative">

      <div #map style="width:100%; height: 100%"></div>
      <div style="position: absolute;
          bottom: 20%;
          z-index: 99;
          right: 10px;">
        <button (click)="myLocation()" ion-button style="background-color: antiquewhite">
          <ion-icon color="danger" style="font-size: 1.8em" ios="ios-compass" md="ios-compass"></ion-icon>
        </button>
      </div>
      <div style="position: absolute; 
          bottom: 30%;
          z-index: 99;
          right: 10px;">
        <button (click)="speechRecording(3)" ion-button style="background-color: white;
            border-radius: 50%;
            padding: 20px;">
          <a href="#openModal3">
            <ion-icon color="primary" style="font-size: 1.8em" name="microphone"></ion-icon>
          </a>
        </button>
      </div>


    </div>

    <div class="flexContainer" style="display:flex; position: absolute; top: 10px; left:15%;  height: 50px;  width: 70%;">
      <input id="pac-input" class="controls" type="text" placeholder="{{global.languageContent.submitdata.map_placeholder}}"
        style="flex: 1; height:100%;     border: solid 0.5px #c5d4ef;
           border-radius: 50px; padding-left: 15px; padding-right:15px">
      <div style="margin:0px !important; height:100%; background: transparent;" (click)="clearSearch()">
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/sign-error-icon.png" style=" display: block;
          margin-left: auto; margin-top:5px;
          margin-right: auto; width:40px; height:40px"></div>
    </div>

    <!-- Modal -->
    <div id="openModal3" class="modalDialog3">
      <div> <a id="modalClose3" href="#close3" title="Close3" class="close3">X</a>
        <ion-list>

          <ion-item style="background: transparent !important" id="voiceInputLabel3" text-wrap>
            <h4 style="color:rgb(252, 194, 21)">{{global.languageContent.submitdata.modal3_text1}}
            </h4>
          </ion-item>
          <ion-item id="voiceInputImg3" style="background: transparent !important" text-center>
            <img src="imgs/voiceinput.gif" /><br>
            <div *ngIf="global.device_type=='i'" style="width:100%; margin-top:8px;">
              <button color="danger" ion-button block (click)="stopSpeechRecognition()">
                <ion-icon name="square" style="margin-right:8px"></ion-icon>
                <span>(*) {{global.languageContent.submitdata.modal3_text2}}</span>
              </button>
            </div>
          </ion-item>
          <ion-grid id="voiceInputErrorBtns3">
            <ion-row>
              <ion-item text-wrap style="background: transparent !important">
                <img item-start style="width:50px; height:auto" src="imgs/voiceError.png" />
                <h4 style="color:rgb(252, 194, 21)">{{global.languageContent.submitdata.modal3_text3}}</h4>
              </ion-item>
            </ion-row>

            <ion-row>
              <ion-col>
                <button (click)="tryAgain(3)" ion-button full color="success">{{global.languageContent.submitdata.modal3_text4}}
                  <ion-icon style="margin-left:8px" ios="md-refresh" md="md-refresh"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>

      </div>
    </div>
    <!-- /Modal -->

  </div>

  <div *ngIf="currentStep==3" style="height:100%; width:100%;
background-image: linear-gradient(to right top, #131f30, #152235, #17263b, #192940, #1b2d46);">
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%">

        <ion-card style="background-color: white !important">
          <ion-card-header>
            {{global.languageContent.submitdata.step3_sub_title}}
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p style="color:#999;     font-size: 1.6rem;font-weight: 700;">
                    <ion-icon ios="ios-document" md="md-document"></ion-icon>
                    {{global.languageContent.submitdata.case_content}} (*)
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-10>
                  <ion-textarea style="border: solid 1px grey;" rows="2" type="text" [(ngModel)]="caseContent">
                  </ion-textarea>
                  <div style="width: 0; height:0;
                      overflow: hidden;">
                    <textarea id="noiDungThongBaoAn" rows="0" style="width:100%">

                              </textarea>
                  </div>
                </ion-col>
                <ion-col col-2><button color="danger" (click)="speechRecording(4)" ion-button> <a href="#openModal4">
                      <ion-icon style="font-size: 1.8em; color:whitesmoke" name="microphone"></ion-icon>
                    </a>
                  </button></ion-col>
              </ion-row>
            </ion-grid>
            <ion-list>
              <ion-item style="background: white !important">
                <ion-label stacked>{{global.languageContent.submitdata.fullname}} (*)</ion-label>
                <ion-input style="color:black!important" type="text" [(ngModel)]="contactName"></ion-input>
              </ion-item>

              <ion-item style="background: white !important">
                <ion-label stacked>{{global.languageContent.submitdata.phonenumber}} (*)</ion-label>
                <ion-input style="color:black!important" type="number" [(ngModel)]="contactPhone"></ion-input>
              </ion-item>

              <button style="height:50px" ion-button full color="danger" (click)="sentData()">{{global.languageContent.submitdata.send_btn}}</button>

            </ion-list>
          </ion-card-content>

        </ion-card>

      </ion-row>

    </ion-grid>

    <!-- Modal -->
    <div id="openModal4" class="modalDialog4">
      <div> <a id="modalClose4" href="#close4" title="Close4" class="close4">X</a>
        <ion-list>

          <ion-item style="background: transparent !important" id="voiceInputLabel4" text-wrap>
            <h4 style="color:rgb(252, 194, 21)">{{global.languageContent.submitdata.modal4_text1}}
            </h4>
          </ion-item>
          <ion-item id="voiceInputImg4" style="background: transparent !important">
            <img src="imgs/voiceinput.gif" />
            <div *ngIf="global.device_type=='i'" style="width:100%; margin-top:8px;">
              <button color="danger" ion-button block (click)="stopSpeechRecognition()">
                <ion-icon name="square" style="margin-right:8px"></ion-icon>
                <span>(*) {{global.languageContent.submitdata.modal4_text2}}</span>
              </button>
            </div>
          </ion-item>
          <ion-grid id="voiceInputErrorBtns4">
            <ion-row>
              <ion-item text-wrap style="background: transparent !important">
                <img item-start style="width:50px; height:auto" src="imgs/voiceError.png" />
                <h4 style="color:rgb(252, 194, 21)">{{global.languageContent.submitdata.modal4_text3}}</h4>
              </ion-item>
            </ion-row>

            <ion-row>
              <ion-col>
                <button (click)="tryAgain(4)" ion-button full color="success">{{global.languageContent.submitdata.modal4_text4}}
                  <ion-icon style="margin-left:8px" ios="md-refresh" md="md-refresh"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>

      </div>
    </div>
    <!-- /Modal -->
  </div>


</ion-content>
<ion-footer style="background:white!important" no-padding>
  <ion-grid style="height:50px" no-padding>
    <ion-row no-padding style="height:100%; background-color: #488aff">
      <ion-col (click)="previousStep()" col-2 no-padding>
        <button ion-button block>
          <ion-icon name="arrow-dropleft" style="font-size: 2em"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 no-padding text-center>
        <div style="width:100%;height:100%; background-color: #488aff; color:white" *ngIf="currentStep==1">
          <ion-item text-center style="background-color: #488aff !important;">{{global.languageContent.submitdata.step1_title}}</ion-item>
        </div>
        <div style="width:100%;height:100%; background-color: #488aff; color:white" *ngIf="currentStep==2">
          <ion-item text-center style="background-color: #488aff !important;">{{global.languageContent.submitdata.step2_title}}</ion-item>
        </div>
        <div style="width:100%;height:100%; background-color: #488aff; color:white" *ngIf="currentStep==3">
          <ion-item text-center style="background-color: #488aff !important;">{{global.languageContent.submitdata.step3_title}}</ion-item>
        </div>
      </ion-col>
      <ion-col (click)="nextStep()" col-2 no-padding *ngIf="this.currentStep!=3">
        <button ion-button block>
          <ion-icon name="arrow-dropright" style="font-size: 2em"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>