page-submitdata2 {
    .content2 {
        height:60%;
        width:100%
    }
    .quotation:before {
        color: #ccc;
        content: open-quote;
        font-size: 2em;
        line-height: 0.1em;
        margin-right: 0.1em;
        vertical-align: -0.4em;;
    }
    .quotation:after {
        color: #ccc;
        content: close-quote;
        font-size: 2em;
        line-height: 0.1em;
        margin-left: 0.1em;
        vertical-align: -0.4em;;
    }
    ion-content {
      background-color: transparent !important;
      }
      
      ion-app,.nav-decor {
      background-color: transparent !important;
      }
  
      ion-slide {
          background-color: #f8e5a7;
        }
    
        ion-slide img {
          height: 70vh !important;
          width: auto !important;
        }
        // .displaybottom{
        //   padding-top: 86%;
        //   bottom: 0;   
        // }
  
       .card{
         background-color: transparent !important;
       }
       .scroll-content
       {
         background-image: none !important;
         background-color: transparent !important
       }
       .content{
         background-color: transparent !important 
       }
       .cameraBtn{
         margin:0 !important
       }
       .footer button{
         height: 100% !important;
          width: 100% !important;
          margin: 0 !important;
          border-radius: 0 !important;    
       }
  
       .modalDialog3 {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 200ms ease-in;
        -moz-transition: opacity 200ms ease-in;
        transition: opacity 200ms ease-in;
        pointer-events: none;
    }
    .modalDialog3:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog3 > div {
        width: 85%;
        position: fixed;
        top:30%; left:7.5%;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }
    .close3 {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close3:hover {
        background: #00d9ff;
    }   
  
    .modalDialog4 {
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 99999;
      opacity:0;
      -webkit-transition: opacity 200ms ease-in;
      -moz-transition: opacity 200ms ease-in;
      transition: opacity 200ms ease-in;
      pointer-events: none;
  }
  .modalDialog4:target {
      opacity:1;
      pointer-events: auto;
  }
  .modalDialog4 > div {
      width: 85%;
      position: fixed;
      top:30%; left:7.5%;
      padding: 5px 20px 13px 20px;
      border-radius: 10px;
      background: #fff;
      background: -moz-linear-gradient(#fff, #999);
      background: -webkit-linear-gradient(#fff, #999);
      background: -o-linear-gradient(#fff, #999);
  }
  .close4 {
      background: #606061;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000;
  }
  .close4:hover {
      background: #00d9ff;
  }   
  
    .item-md {
         padding-left: 0; }
  
         .item-md.item-block .item-inner {
          padding: none !important;
          border:none !important;
      }
  
      }