<ion-content padding style="background-color: rgb(69, 71, 100); position: relative; display: flex; ">

  <ion-grid style="height: 100%">
      
    <ion-row justify-content-center align-items-center style="height: 50%; margin-top:25%">
        <h3 style="color:beige; margin:10px 10px 40px 15px"> Vì đây là lần đầu bạn sử dụng ứng dụng, xin vui lòng xác thực số điện thoại đang sử dụng trên thiết bị.
          </h3>      
      <ion-card>
        <div style="height:5px; background: repeating-linear-gradient(
          90deg,
          #7183f7,
          #fa7777,
          #fff78d,
          #a1fad5
        );">
        </div>
       
        <ion-card-content>
          <ion-list>

            <ion-item>
              <ion-label stacked>Số Điện Thoại</ion-label>
              <ion-input [(ngModel)]="phoneNumber" type="text"></ion-input>
            </ion-item>

            <button (click)="informOTP()" ion-button full color="success">Gửi<ion-icon style="margin-left:8px" ios="ios-send" md="ios-send" ></ion-icon></button>


          </ion-list>


        </ion-card-content>

      </ion-card>

    </ion-row>

  </ion-grid>

</ion-content>