page-process {
    *
    {
        color:#fff!important;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 2px;
       }
    //    .swiper-slide:not(.swiper-slide-active) > div {
    //     display:none;
    // }
    .noMessage
    {
        text-align: center
    }
    .segment-activated {
        border-color: #fbcd25 !important;}
        .numberCircle {
            position: fixed;
    top: 1%;
    right: 2%;
    background: tomato;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
          }
          .segment-ios-danger .segment-button {
            border-color: transparent;
        }
}
    