page-sentcases {
    *
    {
        color:#fff!important;
    }
    .swiper-pagination-bullet-active{
        background: rgba(0, 0, 0, 0.116)  !important;
        opacity: 1;
        color:#000!important;
      }
     
}
ion-calendar .calendar-row .today {        
    background: #488aff;
}
