
<ion-header style="color:white !important">

  <ion-navbar style="color:white !important">
  </ion-navbar>

</ion-header>


<ion-content style="overflow: hidden" no-padding>


    <!-- <ng-container *ngIf="display" style="height: 100%; width: 100%; overflow: hidden;">
      <object  type="text/html" [data]="url" style="height: 100%; width: 100%; overflow: hidden;">
    </object> -->
    <!-- </ng-container> -->
  <object *ngIf="display1" type="text/html" style="height: 100%; width: 100%; overflow: hidden;" data="https://dichvucong.hochiminhcity.gov.vn/icloudgate/version4/ps/page/bs/home.cpx"></object>
  <object *ngIf="display2" type="text/html" style="height: 100%; width: 100%; overflow: hidden;" data="https://danhgiahailong.hochiminhcity.gov.vn/#/"></object>

</ion-content>
