<!--
  Generated template for the ImgviewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-slides pager="true" zoom>
    <ion-slide *ngFor="let pic of imgs">
        <div class="swiper-zoom-container">
            <img [src]="pic"/>
          </div>
    </ion-slide>
    </ion-slides>

</ion-content>