<ion-header>
    <ion-navbar>
        <ion-grid style="padding:0px;">
            <ion-row style="background-color:rgba(0, 0, 0, 0)!important;margin:0px;padding: 0px">
                <ion-col col-2 text-center>
                    <div menuToggle>
                        <img src="imgs/toggle.png" style="width:80%; padding-right:20%">
                    </div>
                </ion-col>
                <ion-col *ngFor="let parentService of global.parentServiceCatergories"
                    style="background-color: transparent;border-radius: 0px!important;padding:0px!important;">
                    <div style="display: flex;     border-radius: 3px;
                align-items: center;
                justify-content: center;; height:100%; margin: 0px!important" [id]="parentService.id"
                        (click)="moveToSlide(parentService.id)">
                        <span style="font-weight: bold; font-size: 1.1em; text-align: center;
                    ">{{parentService.name}}</span></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>


<ion-content style="padding:0px;background-image: url('imgs/orimx_blur.png') !important;background-size:cover;background-repeat: no-repeat!important">

     
        <ion-slides (ionSlideDidChange)="slideChanged()" style="height:100%; width:100%" slidesPerView="1" pager="false">
        <ion-slide *ngFor="let parentService of global.parentServiceCatergories; let i=index">
            <div style="height: 100%">
               
                <!--Menu moi tai day-->
                <table *ngIf="this.global.subServicesOfParentService[i].length!=0" class="newnew-menu"
                    style=" table-layout: fixed;width: 97%;margin:auto;background-color:rgba(0, 0, 0, 0.0);padding:20px;border-radius: 20px;">
                  
                    <tr *ngFor="let row of this.global.subServicesOfParentService[i]">
                        <td *ngFor="let service of row" class="serviceButton" (click)="gotoSubmitData2(service.name);">
                            <img [src]="fixIconLink(service.icon)" style="width: 60px; height:60px; margin-bottom: 10px;" />
                            <br />
                            {{service.name}}
                        </td>
                    </tr>

                </table>
            </div>
        </ion-slide>
        
    </ion-slides>


</ion-content>