page-third-home {

  *
  {
      color:#fff!important;
  }
  .serviceButton{
    font-family: jose;
    font-weight: bold;
  }
    .font-bold
    {
        text-transform: uppercase!important;
    }
   
    .button-circle:hover {
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
   
}

.newMenu
{

  transition:2s!important;
  -webkit-transition:2s!important;
  -moz-transition:2s!important;
 max-width: 320px!important;
  margin-bottom: 20px!important;
  
  
}
table.newMenu td{

 
  padding-left: 0px;
  padding-right: 0px;
  padding-left: 3px!important;

}
.newMenu:hover 
{

 right:0px;
  
}
.newMenu
{
  font-size: 13pt!important;
    text-transform: uppercase!important;
    height: 70px!important;
 padding:0px!important;
 transform: scale(1);

}
.footer{

  padding-bottom: 0px!important;
  margin-bottom: 0px!important;
}
.footer div table{

width: 100%!important;
min-height: 40px;
background-color: rgba(32, 126, 227, 0.9) !important;
padding:0px!important;
margin: 0px!important;
}
.footer div table td
{
width: 50%!important;

padding:2vh!important;
vertical-align: middle!important;
text-align: center!important;

}

// .globalBG {
//     background-image: url('imgs/city.png')!important;
//     background-position: bottom center;
//     background-size: cover!important;
//     background-repeat: no-repeat!important;
//   }
.newnew-menu td{


  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 30px !important;
  border: 6px solid #dadada00 !important;
  text-align: center !important;
  text-overflow: ellipsis !important;
 
  border-radius: 10px !important;
  transform:scale(0.95)!important;

}
.newnew-menu td img{


 width: 60px!important;
}
.newnew-menu
{

  
  height: 60vh!important;
}