<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('imgs/bg.png') !important;background-size:cover!important;background-position: bottom;background-repeat: no-repeat!important">
  <ion-card *ngIf="case != null" style="    background: #fafde3 !important;    ">
    <ion-card-header color="primary" style="font-weight: bold; border-bottom: solid">
      Thông tin sự việc
      <ion-item text-wrap style="padding-left:0 !important">
        <img style="width:15%;height:auto; margin-right:15px" item-start [src]="case.loai_tin_bao" (error)="global.updateImgUrl($event)" />
        <p style="color:#7e3d92;">
          <ion-icon style="height:1em; width:auto" name="pin"></ion-icon> {{case.areadetail}}
        </p>
        <p style="color: #c14f4f">
          <ion-icon style="height:1em; width:auto" name="document"></ion-icon> {{case.noi_dung}}
        </p>
        <p>
          <ion-icon style="height:1em; width:auto" name="time"></ion-icon>
          {{this.global.dateDisplayFix(case.createdOn)}}
        </p>
        <p>Người báo: {{case.contact.name}}</p>
      </ion-item>
      Thông tin xử lý
      <ion-item text-wrap>
        <ul style="color:black; padding-inline-start: 10%;">
          <li style="color:#7e3d92;">
            Tình trạng: {{case.statusName}}
          </li>
          <li style="color: red"><i>Thông tin phản hồi:
              {{case.resolvedComment}}</i></li>
          <ng-container *ngIf="showExtraProcessingDetailsFromTimeline">
            <li *ngIf="extraProgressInfo.phancong!=null">Người phân công xử lý:
              {{extraProgressInfo.phancong.name}}</li>
            <li *ngIf="extraProgressInfo.phancong!=null">Thời điểm phân xử lý:
              {{this.global.dateDisplayFix(extraProgressInfo.phancong.date)}}</li>
            <li *ngIf="extraProgressInfo.xuly!=null">Chuyên viên xử lý: {{extraProgressInfo.xuly.name}}</li>
            <li *ngIf="extraProgressInfo.xuly!=null">Thời điểm xử lý:
              {{this.global.dateDisplayFix(extraProgressInfo.xuly.date)}}
            </li>
            <li *ngIf="extraProgressInfo.phanconghotro!=null">Đơn vị hỗ trợ: {{extraProgressInfo.phanconghotro.department}}</li>
            <li *ngIf="extraProgressInfo.phanconghotro!=null">Người phân công hỗ trợ:
              {{extraProgressInfo.phanconghotro.name}}</li>
            <li *ngIf="extraProgressInfo.phanconghotro!=null">Thời điểm phân hỗ trợ:
              {{this.global.dateDisplayFix(extraProgressInfo.phanconghotro.date)}}</li>
            <li *ngIf="extraProgressInfo.hotro!=null">Chuyên viên hỗ trợ: {{extraProgressInfo.hotro.name}}</li>
            <li *ngIf="extraProgressInfo.hotro!=null">Thời điểm hỗ trợ:
              {{this.global.dateDisplayFix(extraProgressInfo.hotro.date)}}
            </li>
          </ng-container>

        </ul>
      </ion-item>
    </ion-card-header>
    <button ion-item (click)="testTimeline()" style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="time" item-start></ion-icon>
      <span style="color:rgb(93, 92, 92) !important; font-weight:600">Tiến trình sự việc</span>
      <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
    </button>
    <button ion-item (click)="goMap()" style="border-bottom:solid #488aff; padding-top: 15px; padding-top:0 !important">
      <ion-icon name="map" item-start></ion-icon>
      <span style="color:rgb(93, 92, 92) !important; font-weight:600">Xem vị trí sự việc</span>
    </button>

    <ion-card-header *ngIf="case.attachment!=null && case.attachment.length > 0" color="primary" style="font-weight: bold">
      Hình ảnh sự việc
    </ion-card-header>

    <div *ngIf="case.attachment!=null && case.attachment.length > 0" id="scrolly">
      <img *ngFor="let pic of case.attachment; let i = index" style="height:50px; margin-right:5px ; width:auto" [id]="i"
        [src]="global.baseURLForIcon + pic.filePath" (click)="openImgZoom(i)" />
    </div>


    <ion-card-header color="primary" style="font-weight: bold" *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0">
      Hình ảnh xử lý
    </ion-card-header>

    <div *ngIf="case.resolveAttachment!=null && case.resolveAttachment.length > 0" id="scrolly">
      <img *ngFor="let picc of case.resolveAttachment; let a = index" style="height:50px; width:auto; margin-right: 5px"
        [id]="a" [src]="global.baseURLForIcon + picc.filePath" (click)="openImgProcessZoom(a)" />
    </div>

    <ion-card-header *ngIf="case.videoAttachment!=null &&  case.videoAttachment.length > 0" color="primary" style="font-weight: bold">
      Video sự việc
    </ion-card-header>

    <div *ngIf="case.videoAttachment!=null && case.videoAttachment.length > 0" id="scrolly" style="height:180px;">
      <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" *ngFor="let video of case.videoAttachment; let i = index"
        style="max-height:180px; width:100%" [id]="i" [src]="global.baseURLForIcon + video.filePath"> </video>
    </div>

    <div style="height: 10px;width:100%"></div>
  </ion-card>
</ion-content>