page-statistic-detail {
    .item {
        background-color: transparent !important;
    }
    #scrolly{
        width: 100%;
        height: 50px;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap;
        padding-left: 15px;    }
  
    #scrolly img{
        margin-right: 5px;
        display: inline;
    }
}
