<!--
  Generated template for the MediaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Gửi hình ảnh/ video</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <div style="width:100%; height:auto; padding: 5px">
      <!-- <div style="width:100%; height:auto; padding: 5px" on-swipe="onSwipe()"> -->

      <!-- <ion-segment [(ngModel)]="toggle" color="danger">
        <ion-segment-button value="picture">
        Hình ảnh
        </ion-segment-button>
        <ion-segment-button value="video">
        Videos
        </ion-segment-button>
      </ion-segment> -->

      <!-- <div>
        <div *ngIf="toggle == 'picture'">

          <ion-grid>
            <ion-row style="margin-bottom:15px">
              <ion-col>
                <button ion-button block color="primary" (click)="takePhoto()">
                  <ion-icon large name="camera"> Chụp ảnh</ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button block color="secondary" (click)="localImagePicker()">
                  <ion-icon large name="folder-open"> Chọn từ bộ nhớ</ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <p style="margin-left:5px" *ngIf="!listHasElements">(*) Bạn hiện chưa chọn tấm ảnh nào.</p>

          <ion-list *ngIf="listHasElements">
            <ion-item-sliding *ngFor="let pic of imageURL" style=" margin-bottom:10px">

              <ion-item style="max-width: 100%; max-height:150px;">
                <img [id]="pic" [src]="pic" />
              </ion-item>

              <ion-item-options side="right">
                <button ion-button color="danger" (click)="delPic(pic)">
                  <ion-icon name="trash"></ion-icon>
                  Hủy
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>

        <div *ngIf="toggle == 'video'">
          <ion-grid>
            <ion-row style="margin-bottom:15px">
              <ion-col>
                <button ion-button block color="primary" (click)="recordVideo()">
                  <ion-icon large name="videocam"> Quay Phim</ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button block color="secondary" (click)="localVideoPicker()">
                  <ion-icon large name="folder-open"> Chọn từ bộ nhớ</ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <p style="margin-left:5px" *ngIf="!hasVideos">(*) Bạn hiện chưa chọn video nào.</p>

          <div *ngIf="hasVideos">
            <ion-item>
              <ion-buttons clear end>
                <button (click)="delVideo()" clear ion-button icon-only>
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-buttons>
            </ion-item>
            <ion-item>
              <video style="width:100%; max-height:350px" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                class="videoPlayer" [src]="videoFilePath"></video>
            </ion-item>
          </div>
        </div>
      </div> -->


      <ion-grid>
        <ion-row style="margin-bottom:15px">
          <ion-col>
            <button ion-button block color="primary" (click)="recordVideo()">
              <ion-icon large name="videocam"> Quay Phim</ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block color="secondary" (click)="localVideoPicker()">
              <ion-icon large name="folder-open"> Chọn từ bộ nhớ</ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <p style="margin-left:5px" *ngIf="!hasVideos">(*) Bạn hiện chưa chọn video nào.</p>

      <div *ngIf="hasVideos">
        <ion-item>
          <ion-buttons clear end>
            <button (click)="delVideo()" clear ion-button icon-only>
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
        <ion-item>
          <video style="width:100%; max-height:350px" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
            class="videoPlayer" [src]="videoFilePath"></video>
        </ion-item>
      </div>
    </div>

  </ion-card>

</ion-content>
<ion-footer>
  <button (click)="sendPics_Videos()" ion-button block color="danger"> Gửi {{number}}
    <ion-icon style="margin-left:10px" large ios="ios-send" md="ios-send"></ion-icon>
  </button>
</ion-footer>