page-media {
    ion-content {
        background-image: linear-gradient(to right top, #25bfe0, #3fd2d0, #7be0b9, #b7eba4, #f4f09c);
    }

    .toolbar-background {
        color:whitesmoke;
        // background: #f53d3d;
        background:linear-gradient(to right, #d5351c, #e05f24, #e98234, #f1a14a, #f9bf66);
    }
    .toolbar-title {
        // color: #f7f0f0;
        color:white
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #f7f0f0;
        background-color: transparent;
    }
}
